<!-- 
GENERAL VIEW OF THE PROCUREMENT SYSTEM 
---------- START CONTROLLER ----------
-->

<div class="app-view-header">
    <span translate="menu.approval.modul_approval"></span>
</div>

<div class="panel panel-primary" ng-controller="MonitoringWorklistController as vm">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
            <em class="fa fa-tasks"></em>
            <span translate="promise.procurement.master.monitoringworklist.judul"></span>
            <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
                <em class="fa fa-chevron-circle-down"></em>
            </a>
        </h4>
        <div class="panel-body collapse in">
        <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong></div>
        <table datatable="ng" class="row-border hover table-striped">
            <thead>
                <tr>
                    <th scope="col"><span translate="general.no"></span></th>
                    <th scope="col"><span translate="promise.procurement.master.monitoringworklist.list.tahapan_persetujuan"></span></th>
                    <th scope="col"><span translate="promise.procurement.master.monitoringworklist.list.keterangan"></span></th>
                  	<th scope="col"><span translate="promise.procurement.master.monitoringworklist.list.jabatan"></span></th>
                   	<th scope="col"><span translate="promise.procurement.master.monitoringworklist.list.tanggal_terbuat"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in vm.ListApproval">
                    <td style="text-align:center">{{ $index+1 }}</td>
                    <td style="text-align:left">
                         <div class="label label-info text-bold" ng-if="data.approvalProcess.approvalProcessType.tahapan.nama=='Approval Purchase Request'">
                            {{ data.approvalProcess.approvalProcessType.tahapan.nama }}
                        </div>		 	
                        <div class="label label-success text-bold" ng-if="data.approvalProcess.approvalProcessType.tahapan.nama=='CREATE_PO'">
                            {{ data.approvalProcess.approvalProcessType.tahapan.nama }}
                        </div>
                    </td>
                    <td style="text-align:left">{{ data.keteranganIndex }}</td>
                    <td style="text-align:left">{{ data.approvalProcess.jabatan.nama }}</td>
                    <td style="text-align:left">
                        {{ data.approvalProcess.created | date :'dd-MM-yyyy'}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<!--END CONTROLLER-->