<link rel="stylesheet" href="app/css/custom-style-tab-portal.css">

<div class="row bg-blue">
    <div class="container">
        <div class="row-bg text-center m-b-lg">
        <h1 class="header-title">KETENTUAN</h1>
        <br>
           <div class="tab">
			  <button class="tablinks" onclick="openCity(event, 'catalog')" id="defaultOpen"><p style="font-family:arial; "><strong>Centra Auto AC</strong></p></button>
			  <!-- <button class="tablinks" onclick="openCity(event, 'cms')"><p style="font-family:arial; "><strong>Contract Management System</strong></p></button> -->			 
			</div>

	<div id="catalog" class="tabcontent" style="color: #fffafa;"">
 		<div class="text-center m-t-lg m-b">
                    <!-- <a ui-sref="appportal.kebijakan" class="btn btn-rounded btn-white m-r-lg">Kebijakan Lainnya</a> -->
                    <div class="g-blockcontent-subcontent-desc" style="text-align:justify; 
                                                                                padding-bottom:30px">
                        <h3 style="text-align: center; margin-bottom: 20px;">Ketentuan Penggunaan Aplikasi Centra Auto AC</h3>
                        <ol type="A" style="font-weight: bold;">
                            <li>
                                <strong>Umum</strong>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                 Pengadaan Barang dan Jasa melalui Centra Auto AC tunduk dan patuh pada ketentuan internal Perusahaan Centra Auto AC 
                                 tentang Pedoman Pengadaan Barang dan Jasa.
                            </li>
                            <li>
                                Seluruh pemangku kepentingan pada aplikasi Centra Auto AC wajib tunduk dan patuh pada peraturan perundang-undangan 
                                dan ketentuan yang ditetapkan oleh Perusahaan Centra Auto AC 
								berdasarkan Pedoman Pengadaan Barang dan Jasa.
                            </li>
                            <li>
                                Transaksi Pengadaan Barang dan Jasa secara elektronik (e-Purchasing) yang dilakukan melalui aplikasi Centra Auto AC 
                                serta penggunaan jaringan yang terhubung pada jasa dan transmisi data teknis baik di wilayah Indonesia 
                                maupun ke luar wilayah Indonesia melalui situs ini wajib tunduk dan patuh pada peraturan perundang-undangan 
                                dan ketentuan yang berlaku serta segala ketentuan yang ditetapkan berdasarkan Pedoman Pengadaan Barang dan Jasa 
                                di Lingkungan Perusahaan Centra Auto AC.

                            </li>
                            <li>
                               Seluruh informasi, berita, data, pertanyaan maupun jawaban yang dimuat dalam portal 
                               Perusahaan Centra Auto AC akan terlebih dahulu diseleksi oleh Perusahaan Centra Auto AC 
                               guna persetujuan pengunggahan pada aplikasi Centra Auto AC.

                            </li>
                            <li>
                               Perusahaan Centra Auto AC berhak menyesuaikan, memperbaiki, menambah, atau mengurangi Ketentuan
                               Penggunaan ini setiap saat dengan atau tanpa pemberitahuan sebelumnya.
                            </li>
                            <li>
                                Setiap pemangku kepentingan pada aplikasi Centra Auto AC terikat dan tunduk terhadap perubahan ketentuan yang 
								diperbaiki/ditambah/dikurangi tersebut.
                            </li>
                            <li>
                                Perusahaan Centra Auto AC tidak memungut biaya apapun dari Penyedia Katalog dalam setiap proses transaksi 
                                Pengadaan Barang dan Jasa secara elektronik (e-Purchasing) termasuk pada portal e-Procurement dalam proses pendaftaran 
                                Pelaku Usaha Terseleksi dan Pemilihan Penyedia.
                            </li>
                        </ol>
                        <div id="collapse" class="text-center" style="margin-top:10px;">
                            <a ng-click="showMore()" class="btn btn-rounded btn-white m-r-lg">Ketentuan Lainnya</a>
                        </div>
                        <br />
                        <div id="kebijakan" class="collapse">
                            <ol type="A" start="2" style="font-weight: bold;">
                                <li>
                                    <strong>Penyedia Katalog pada aplikasi Centra Auto AC</strong>
                                </li>
                            </ol>
                            <ol type="1">
                                <li>
                                     Setiap Penyedia Katalog yang akan melakukan transaksi Pengadaan Barang dan Jasa secara elektronik pada Centra Auto AC harus melakukan 
                                     permintaan penayangan barang dan jasa dan mengisi database di sistem Centra Auto AC dengan benar dan akurat sesuai dengan kondisi yang 
                                     sebenarnya berdasarkan hasil Pemilihan Penyedia Katalog.

                                </li>
                                <li>
                                   Penyedia Katalog yang berhak menayangkan barang dan jasa pada Centra Auto AC wajib memenuhi seluruh ketentuan yang dipersyaratkan 
                                   oleh Perusahaan Centra Auto AC, untuk selanjutnya tunduk pada evaluasi periodik sesuai dengan ketentuan yang berlaku di 
                                   Perusahaan Centra Auto AC.

                                </li>
                                <li>
                                   Perusahaan Centra Auto AC berhak memintakan dokumen pendukung lainnya kepada Penyedia Katalog apabila diperlukan.
                                </li>
                                <li>
                                   Perusahaan Centra Auto AC berhak untuk melakukan due diligence termasuk
                                   Perusahaan Centra Auto AC berhak untuk melakukan due diligence termasuk namun tidak terbatas pada kunjungan lokasi, 
                                   melakukan evaluasi (klarifikasi, verifikasi dan/atau konfirmasi) keabsahan/ kebenaran/keaslian dokumen dan/atau meminta tambahan 
                                   dokumen dari Penyedia Katalog untuk setiap kebutuhan proses evaluasi periodik dari waktu ke waktu.

                                </li>
                                <li>
                                    Perusahaan Centra Auto AC berhak untuk tidak memproses atau menolak dokumen yang diberikan oleh Penyedia Katalog tanpa 
                                    harus memberikan alasan atau tuntutan apapun kepada Perusahaan Centra Auto AC jika tidak sesuai dengan Kontrak Katalog.

                                </li>
                                <li>
                                   Penyedia Katalog dapat terlibat dalam transaksi Pengadaan Barang dan Jasa secara elektronik (e-Purchasing) pada aplikasi Centra Auto AC 
                                   jika telah menerima e-mail ataupun pemberitahuan konfirmasi transaksi dari Pengguna dan/atau Penyelenggara.

                                </li>
                                <li>
                                    Penyedia Katalog wajib memperbaharui database dan informasi yang telah disampaikan dalam Centra Auto AC, jika barang dan jasa yang 
                                    ditayangkan sudah tidak sesuai dan apabila terdapat ketidaksesuaian database yang terekam pada Centra Auto AC dengan keadaan yang 
                                    sesungguhnya, maka Perusahaan Centra Auto AC berhak untuk menurunkan penayangan barang dan jasa dari Centra Auto AC.

                                </li>
                                <li>
                                    Penyedia Katalog bersedia untuk menerima segala keputusan Perusahaan Centra Auto AC terkait Pengadaan Barang dan Jasa 
                                    dalam Centra Auto AC. Keputusan Perusahaan Centra Auto AC adalah mutlak dan tidak dapat diganggu gugat.

                                </li>
                                <li>
                                     Dengan melakukan penayangan barang dan jasa pada Centra Auto AC, maka Penyedia Katalog dianggap setuju untuk membebaskan PT 
                                     Kereta Api Indonesia(Persero), beserta seluruh anggota Direksi, dewan Komisaris, Penyelenggara serta Pengguna dari:
                                    <ol type="a">
                                        <li>
                                          Setiap penyalahgunaan User Name/ID dan password Penyedia Katalog.
                                        </li>
                                        <li>
                                           Setiap kerusakan dan/atau kerugian baik langsung maupun tidak langsung, namun tidak terbatas pada kehilangan keuntungan,
                                           kegunaan data atau kerugian-kerugian non- material yang ditimbulkan oleh:
                                            <ol type=1>
                                                <li>
                                                   Penggunaan atau ketidak mampuan menggunakan sistem.
                                                </li>
                                                <li>
                                                   Penggunaan akses yang tidak sah maupun pengiriman data.
                                                </li>
                                                <li>
                                                   Pernyataan atau tindakan dari pihak ketiga dalam sistem.
                                                </li>
                                                <li>
                                                   Hal-hal yang berhubungan dengan sistem aplikasi Centra Auto AC.
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            Setiap tuntutan dari pihak ketiga sehubungan dengan barang dan jasa dan/atau keterangan yang dimasukkan 
                                            oleh Penyedia Katalog ke dalam aplikasi Centra Auto AC atau melalui sistem Perusahaan Centra Auto AC e-Procurement.
                                        </li>
                                        <li>
                                           Setiap penggunaan dan/atau penyambungan sistem aplikasi Centra Auto AC oleh Penyedia Katalog.
                                        </li>
                                        <li>
                                             Setiap pelanggaran atas Ketentuan Penggunaan ini dan instruksi-instruksi dari Perusahaan Centra Auto AC 
                                             atau pelanggaran terhadap hak-hak pihak lain; dan/atau
                                        </li>
                                        <li>
                                            Kegagalan pelaksanaan program atau sistem aplikasi Centra Auto AC yang disebabkan oleh keadaan kahar (force majeure) 
                                            yaitu sesuatu yang di luar kekuasaan Perusahaan Centra Auto AC dan termasuk juga namun tidak terbatas pada 
                                            bencana alam, pemogokan, huru-hara, perang, penyakit menular, peraturan-peraturan Pemerintah yang diterapkan setelah 
                                            kejadian, kebakaran, kegagalan/kerusakan saluran komunikasi, ketiadaan tenaga listrik, gempa bumi atau kejadian-kejadian 
                                            malapetaka lainnya.
                                        </li>
                                    </ol>
                                </li>
                            </ol>

                            <br />
                            <ol type="A" start="3" style="font-weight: bold;">
                                <li>
                                    <strong>Tanggung Jawab Penggunaan Account Penyedia Katalog pada aplikasi Centra Auto AC</strong>
                                </li>
                            </ol>
                            <ol type="1">
                                <li>
                                    Database dan/atau barang dan jasa yang ditayangkan oleh Penyedia Katalog, sebagai pemilik user-ID dan password, 
                                    melalui Centra Auto AC dan terekam (recorded) di dalam server Centra Auto AC merupakan data-data yang sah secara hukum. 
                                    Oleh karena itu setiap Penyedia Katalog bertanggung jawab terhadap kerahasiaan passwordnya dan bertanggung jawab atas 
                                    transaksi dan/atau kegiatan lain yang menggunakan accountnya.
                                </li>
                                <li>
                                    Penyedia Katalog setuju untuk memberitahu apabila ada penyalahgunaan account miliknya oleh pihak lain yang tidak 
                                    berhak atau jika ada gangguan keamanan atas account miliknya itu.
                                </li>
                                <li>
                                    Setiap Orang dengan sengaja dan tanpa hak atau  melawan hukum melakukan intersepsi atas transmisi Informasi Elektronik 
                                    dan/atau Dokumen Elektronik yang tidak bersifat publik dari, ke, dan di  dalam suatu Komputer dan/atau Sistem Elektronik 
                                    tertentu pada KAI e Catalogue, baik yang tidak  menyebabkan perubahan apa pun maupun yang  menyebabkan adanya perubahan, 
                                    penghilangan, dan/atau penghentian Informasi Elektronik  dan/atau Dokumen Elektronik yang sedang  ditransmisikan merupakan pelanggaran hukum.

                                </li>
                            </ol>
                            <br />



                            <!--  <ol>
                                    <li>
                                        Mekanisme pengadaan barang dan/atau jasa Astra akan dilakukan melalui mekanisme pelelangan umum, pemilihan langsung atau penunjukan langsung melaui IPC E-Katalog.
                                    </li>
                                    <li>
                                        Pengumuman pengadaan barang melalui mekanisme pelelangan umum akan diumumkan hanya melalui website IPC E-Katalog.
                                    </li>
                                    <li>
                                        Setiap badan hukum dan/atau perorangan yang akan mendaftar menjadi vendor Astra wajib untuk memberikan informasi, data dan kelengkapan dokumen yang dipersyaratkan dalam
                                    </li>
                                    <li>
                                        Setiap kandidat vendor sekurang-kurangnya harus dapat memenuhi persyaratan sebagai berikut:
                                        <ol type="a">
                                            <li>
                                                Mempunyai reputasi dan rekam jejak (track record) yang baik;
                                            </li>
                                            <li>
                                                Memenuhi ketentuan Peraturan Pemerintah untuk menjalankan usaha/kegiatan sebagai vendor;
                                            </li>
                                            <li>
                                                Memiliki keahlian, pengalaman, kemampuan teknis dan manajerial untuk menyediakan barang/jasa;
                                            </li>
                                            <li>
                                                Kegiatan usahanya tidak sedang dihentikan, tidak dalam pengawasan pengadilan, tidak pailit dan/atau direksi yang bertindak untuk secara hukum memiliki kapasitas menandatangani perjanjian;
                                            </li>
                                            <li>
                                                Memiliki sumber daya manusia, modal, peralatan dan fasilitas lain yang diperlukan dalam pengadaan barang/jasa.
                                            </li>
                                        </ol>
                                        <div id="collapse" class="text-center" style="margin-top:10px;">
                                                <a ng-click="showMore()" class="btn btn-rounded btn-white m-r-lg">Kebijakan Lainnya</a>
                                        </div>
                                        
                                    </li>
                                    <div id="kebijakan" class="collapse">

                                    
                                    <li>
                                        Hak untuk mengikuti pengadaan barang dan/atau jasa Astra hanya dapat diikuti oleh vendor yang telah disetujui sebagai vendor aktif oleh Tim Evaluasi IPC E-Katalog.
                                    </li>
                                    <li>
                                        Tim Evaluasi IPC E-Katalog akan melakukan analisa atas vendor yang mencakup aspek berikut: 
                                        <ol type="a">
                                            <li>
                                                Quality	:   barang/jasa harus memenuhi kriteria kualitas yang telah ditetapkan
                                            </li>
                                            <li>
                                                Cost	: harga barang/jasa merupakan harga terbaik yang sesuai dengan standar  kualitas yang telah ditetapkan
                                            </li>
                                            <li>
                                                Delivery	:   pengadaan barang/jasa harus tepat waktu, serta tepat jumlahnya
                                            </li>
                                            <li>
                                                Safety	:  barang/jasa harus aman bagi semua pihak, baik pelanggan, internal maupun vendor, baik dari segi komposisi produk maupun citra dari produk tersebut
                                            </li>
                                            <li>
                                                Moral	:   vendor harus memiliki moral bisnis yang baik dan sesuai dengan etika bisnis Astra 
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        Vendor yang terpilih dalam proses pemilihan vendor harus menandatangani pakta integritas yang berisi pernyataan untuk tidak melakukan kolusi, korupsi dan nepotisme dalam pelaksanaan pemilihan vendor Astra.
                                    </li>
                                    <li>
                                            Seluruh informasi, berita, data, pertanyaan maupun jawaban yang dimuat dalam forum IPC E-Katalog akan terlebih dahulu di-review guna persetujuan pengunggahan di laman IPC E-Katalog.
                                    </li>
                                    <li>
                                            Seluruh prosedur pembelian barang dan/atau jasa Astra ke vendor mengacu kepada Standar Operasi Prosedur (SOP) yang berlaku di Astra.
                                    </li>
                                    <li>
                                            Astra berhak untuk melakukan validasi keaslian dan/atau meminta tambahan dokumen dari vendor untuk setiap kebutuhan proses pemilihan vendor dari waktu ke waktu
                                    </li>
                                    <li>
                                            Seluruh hasil evaluasi vendor dalam setiap proses pemilihan vendor akan diumumkan secara tertulis kepada vendor. Keputusan Tim Evaluasi IPC E-Katalog adalah mutlak dan tidak dapat diganggu gugat.
                                    </li>
                                    <li>
                                            Setiap kandidat vendor dan/atau vendor yang mengikuti proses pemilihan vendor Astra tidak dipungut biaya apapun juga oleh Astra.
                                    </li>
                                    <li>
                                            Astra  berhak untuk melakukan penyesuaian dan pengubahan kebijakan umum pengadaan barang dan/atau jasa Astra dari waktu ke waktu melalui pemuatan pengubahan yang tercantum dalam website IPC E-Katalog.
                                    </li>
                                    </div>
                                </ol> -->
		                    
                        </div>
                    </div>
                </div>
			</div>

		<div id="cms" class="tabcontent">
 			<div class="g-blockcontent-subcontent-desc" style="text-align:justify; padding-bottom:30px">
		                        <h3 style="text-align: center; margin-bottom: 20px;">Ketentuan Surat Perjanjian dan SPK</h3>
		                        <ol type="1">
		                            <li>
		                                Surat Perjanjian atau SPK merupakan pernyataan secara tertulis antara kedua belah pihak tentang suatu perbuatan 
		                                yang memiliki akibat hukum untuk memperoleh hak dan melaksanakan kewajiban. 
		                            </li>
		                            <li>
		                                Surat Perjanjian atau SPK wajib menggunakan bahasa Indonesia, kecuali yang melibatkan Penyedia asing menggunakan 
		                                2 (dua) bahasa yaitu bahasa Indonesia dan bahasa Inggris.
		                            </li>
		                            <li>
		                                Dalam hal terjadi perbedaan penafsiran antara bahasa Indonesia dan bahasa Inggris dalam Surat Perjanjian 
		                                Pengadaan Barang dan Jasa Internasional, maka yang berlaku adalah pengertian dalam bahasa Indonesia.
		
		                            </li>
		                            <li>
		                               Surat Perjanjian dan SPK ditandatangani di atas materai oleh:
                                    	<ol type= a >
                                           <li>
                                              Wakil dari Perusahaan<br>
                                              Direktur Utama, Direktur Pengguna, Kepala Unit Pengguna atau General Manager sesuai dengan kewenangannya 
                                              sebagaimana diatur dalam Pasal 10 ayat (4) Surat Keputusan Direksi ini; dan 
                                           </li>
                                           <li>
                                              Wakil dari Penyedia<br>
                                              Pimpinan Penyedia sesuai dengan kewenangan anggaran dasar di perusahaannya.
                                           </li>
                                    	</ol>
		                            </li>
		                            <li>
		                               Dalam hal penandatangan Surat Perjanjian dan SPK sebagaimana dimaksud  huruf d berhalangan, penandatanganan 
		                               Surat Perjanjian dan SPK dapat dilakukan oleh kuasanya atau pelaksana harian/pelaksana tugas sesuai ketentuan 
		                               anggaran dasarnya masing-masing.
		                            </li>
		                            <li>
		                               Surat Perjanjian atau SPK harus sudah ditandatangani paling lambat 14 (empat belas) hari kerja terhitung 
		                               sejak tanggal surat penetapan pemenang atau penetapan pelaksana pekerjaan.
		                            </li>
		                            <li>
		                               Dalam hal mulai pelaksanaan pekerjaan ditentukan berdasarkan tanggal Berita Acara Mulai Kerja (BAMK), 
		                               maka Berita Acara Mulai Kerja (BAMK) harus sudah ditandatangani paling lambat 20 (dua puluh) hari kerja setelah 
		                               Surat Perjanjian atau SPK ditandatangani atau 20 (dua puluh) hari kerja sejak penyerahan lokasi pekerjaan 
		                               sebagai dasar memulai pelaksanaan pekerjaan.
		                            </li>
		                         	<li>
		                               Waktu pengajuan perubahan isi Kontrak (Addendum) kepada Penyelenggara dengan ketentuan :
                                    	<ol type=a>
                                           <li>
                                              Dilakukan sekurang-kurangnya 5 (lima) hari kalender sebelum kontrak berakhir 
                                              untuk pekerjaan yang masa pelaksanaan pekerjaan kurang dari 6 (enam) bulan; 
                                           </li>
                                           <li>
                                              Dilakukan sekurang-kurangnya 10 (sepuluh) hari kalender sebelum kontrak 
                                              berakhir untuk pekerjaan yang masa pelaksanaan pekerjaan lebih dari 6 (enam) bulan;
                                           </li>
                                    	</ol>
		                            </li>
		                            <li>
		                              Surat Perjanjian atau SPK harus mematuhi ketentuan peraturan perundang-undangan yang berlaku di Indonesia.
		                            </li>
		                        </ol>
		                      
		                    </div>
		</div>
	</div>
  </div>
    
    <script>
		function openCity(evt, cityName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
		    tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
		    tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
		
		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
</script>