<div class="app-view-header">
	<span translate="mobil.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="MobilIndexController as vm ">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
        <em class="fa fa-tasks"></em>
        <span translate="mobil.judul"></span>
        <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
            <em class="fa fa-chevron-circle-down"></em>
        </a>
    </h4>
	<div class="panel-body collapse in">
		<div class="text-right pr">
			<button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-add" ng-click="add()"> 
				<span translate="mobil.list.tambah"></span>
			</button>
		</div>
		<br />
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true"> <strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px" /></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col"> <span translate="mobil.list.nomor"></span></th>
						<th scope="col" style="text-align:left"> <span translate="mobil.list.namamobil"></span></th>
						<th scope="col" style="text-align:left"> <span translate="mobil.list.merkmobil"></span></th>
						<th scope="col"> <span translate="mobil.list.aksi"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mobil in vm.mobilList">
						<td class="text-center">{{ $index+1 }}</td>
						<td ng-bind="mobil.nama"></td>
						<td ng-bind="mobil.merk"></td>
						<td style="text-align:center">
							<button type="button" ng-class="'bg-' + app.theme.name" class="btn btn-primary btn-sm btn-edit" ng-click="edit(mobil)"></button>
							<button type="button" class="btn btn-danger btn-sm btn-delete" ng-click="deleteMobil(mobil)"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--END CONTROLLER-->