<div class="app-view-header">
    <span>Usulan Calon Pemenang</span>
    <small><span>Total Sistem Gugur</span></small>
</div>
<!--START CONTROLLER-->
<div ng-controller="UsulanCalonPemenangTotalSistemGugurController as form">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div id="usulanCalonPemenang">
        <!--------------------------------------------------------------------------------------------------->
        <promise-view-data-pengadaan pengadaan-id=pengadaanId></promise-view-data-pengadaan>
        <!--------------------------------------------------------------------------------------------------->

        <!--START-->
        <div class="panel panel-primary">
            <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-group">&nbsp;</em>
        <span translate="promise.procurement.panitia.penetapanpemenang.list.TBLPENETAPANPEMENANG"></span>
                                        </h4>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong>
                        </div>
                        <table ng-table="form.evaluasiHargaVendor" class="table table-hover table-condensed table-striped bg-white">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th scope="col"style="width:2%; text-align:center"><span translate="promise.procurement.inisialisasi.tambahbumn.TBLNO"></span>
                                    </th>
                                    <th scope="col"style="width:20%; text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.TBLNAMAPENYEDIABRGJASA"></span>
                                    </th>
                                    <th scope="col"style="width:10%; text-align:center"><span translate="promise.procurement.panitia.penetapanpemenang.list.TBLNILAIADMIN"></span>
                                    </th>
                                    <th scope="col"style="width:10%; text-align:center"><span translate="promise.procurement.panitia.penetapanpemenang.list.TBLNILAITEKNIS"></span>
                                    </th>
                                    <th scope="col"style="width:20%; text-align:right"><span translate="promise.procurement.panitia.penetapanpemenang.list.TBLHARGA"></span>
                                    </th>
                                    <th scope="col"style="width:20%; text-align:right">
                                        <span translate="promise.procurement.panitia.penetapanpemenang.list.TBLHARGA"></span> (Rp.)
                                    </th>
                                    <th scope="col"style="width:2%; text-align:center"><span>Aksi</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tabel in $data | orderBy:'hargaWithKurs'">
                                    <td style="text-align:center">
                                        <span ng-if="$index>0">{{ $index+1 }}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ $index+1 }}</strong>
                                    </td>
                                    <td style="text-align:left; vertical-align:middle">
                                        <span ng-if="$index>0">{{tabel.vendor.nama}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{tabel.vendor.nama}}</strong>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle">

                                        <span ng-if="$index>0"><div ng-if="tabel.nilaiAdmin == 100">Lulus</div>
                                        <div ng-if="tabel.nilaiAdmin != 100">Tidak Lulus</div></span>

                                        <strong ng-if="$index==0" style="font-size:14px"><div ng-if="tabel.nilaiAdmin == 100">Lulus</div>
                                        <div ng-if="tabel.nilaiAdmin != 100">Tidak Lulus</div></strong>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle">
                                        
                                        <span ng-if="$index>0"><div ng-if="tabel.nilaiTeknis == 100">Lulus</div>
                                        <div ng-if="tabel.nilaiTeknis != 100">Tidak Lulus</div></span>
                                        <strong ng-if="$index==0" style="font-size:14px"><div ng-if="tabel.nilaiTeknis == 100">Lulus</div>
                                        <div ng-if="tabel.nilaiTeknis != 100">Tidak Lulus</div></strong>
                                    </td>
                                    <td style="text-align:right; vertical-align:middle">
                                        <span ng-if="$index>0">{{tabel.harga | number:2}} {{tabel.mataUang.kode}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px" class="text-success">{{tabel.harga | number:2}} {{tabel.mataUang.kode}}</strong>
                                    </td>
                                    <td style="text-align:right; vertical-align:middle">
                                        
                                        <span ng-if="$index>0">{{tabel.hargaWithKurs | number:2}} IDR</span>
                                        <strong ng-if="$index==0" style="font-size:14px" class="text-success">{{tabel.hargaWithKurs | number:2}} IDR</strong>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle">
                                        <div class="checkbox c-checkbox needsclick">
                                            <label class="needsclick">
                                                <input type="checkbox" ng-model="tabel.finalCheck" class="needsclick" ng-click="checked(tabel)" />
                                                <span class="fa fa-check"></span></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <div class="panel-default">
        <div class="col-xs-12">
            <div class="checkbox c-checkbox c-checkbox-rounded">
                <label>
                    <input id="inlineradio10" type="checkbox" ng-click="status" />
                    <span class="fa fa-check"></span><code><strong>Munculkan Hasil Pengadaan Pada Halaman Vendor</strong></code>
                </label>
            </div>
        </div>
    </div>
    -->
    <!----------------BUTTON SIMPAN--------------------->
    <div align="center">
        <button ng-class="'bg-' + app.theme.name" ng-click="back()" class="btn btn-primary btn-sm pull-center" ripple="">
            <span class=""><em class="fa fa-chevron-left"></em></span>&nbsp;&nbsp;<font color="white"><span translate="template.button.batal"></span></font>
        </button>
        <!-- <button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-sm pull-center" ng-click="printDiv('penetapanPemenang')" ng-show="view==true && form.detailPengadaan.tahapanPengadaan.tahapan.id>501"><em class="fa fa-print">&nbsp;</em>
            <span translate="promise.procurement.panitia.pengambilandokumen.view.btn.PRINT"></span>
        </button> -->
        <button ng-if="detailPengadaan.tahapanPengadaan.tahapan.id == 16" ng-class="'bg-' + app.theme.name" ng-click="goModalConfirmation()" class="btn btn-primary btn-sm pull-center" ripple="">
            <span class=""><em class="fa fa-sign-in"></em></span>&nbsp;&nbsp;<font color="white"><span translate="template.button.simpan"></span></font>
        </button>
    </div>
    <!------------------------------------->
</div>

<!--MODAL CONFIRMATION-->
<script type="text/ng-template" id="/ModalConfirmation.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabel" class="modal-title">Konfirmasi</h4>
    </div>
    <div class="modal-body">
        <p>Apakah anda yakin untuk simpan data ?</p>
    </div>
    <div class="modal-footer">
        <div align="center">
            <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
            <button ng-click="ok()" class="btn btn-primary">OK</button>
        </div>
    </div>
</script>

<!--END MODAL CONFIRMATION-->