<div class="app-view-header">
	<span translate="promise.procurement.master.itemtype.judul"></span> 
	<!-- <small><span translate="promise.procurement.master.itemtype.tambah.TAMBAH"></span></small> -->
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="ItemTypeViewController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-tasks"></em>
			<span ng-if="vm.toDo=='add'" translate="promise.procurement.master.itemtype.view.subjudul_tambah"></span>
			<span ng-if="vm.toDo=='edit'" translate="promise.procurement.master.itemtype.view.subjudul_ubah"></span>
			<a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
					<em class="fa fa-chevron-circle-down"></em>
			</a>
	</h4>
  <div class="panel-body collapse in">
    <div align="center" ng-if="vm.loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif"  border="0" width="20px"></strong></div>
		<form method="post" action="#" novalidate="" class="form-horizontal" ng-class="{'submitted' : vm.submitted}" name="formItemType" >
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					<span translate="promise.procurement.master.itemtype.view.nama"></span>
				</label>
				<div class="col-sm-4">
					<input id="input-id-1"  name="namaItemType" promise-alphanumeric-only type="text" class="form-control" ng-model="vm.itemType.nama" maxlength="120"  required ng-blur="delValidation($event)" />
					<div class="input-error" ng-show="(vm.submitted && formItemType.namaItemType.$invalid)">
       					<p ng-show="formItemType.namaItemType.$error.required" translate="template.error.field_kosong"></p>
   						<p ng-show="!formItemType.namaItemType.$error.required && formItemType.namaItemType.$error.namaItemType" translate="promise.procurement.master.itemtype.error.nama_sama"></p>
       				</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type="button" ripple="" class="btn btn-secondary" ng-click="back()">
						<span translate="template.button.kembali"></span>
					</button>
					<button type="button" ripple="" class="btn btn-primary" ng-click="save(formItemType.$valid)">
						<span translate="template.button.simpan"></span>
					</button>
					<br />
				</div>
			</div>
		</form>
	</div>
</div>