<div class="app-view-header">
	<span translate="promise.procurement.master.metode_penyampaian_dokumen_pengadaan.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="MetodePenyampaianDokumenPengadaanViewController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
		<!-- <em class="fa fa-tasks"></em>  -->
		<span ng-if="vm.toDo == 'Add'" translate="promise.procurement.master.metode_penyampaian_dokumen_pengadaan.view.subjudul_tambah"></span>
		<span ng-if="vm.toDo == 'Edit'" translate="promise.procurement.master.metode_penyampaian_dokumen_pengadaan.view.subjudul_ubah"></span></span>
	</h4>
	<div class="panel-body">
		<form method="post" action="#" novalidate="" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label for="input-id-1" class="col-md-2 col-sm-3 control-label">
						<span translate="promise.procurement.master.metode_penyampaian_dokumen_pengadaan.view.nama"></span>
						<strong style="color: red">*</strong>
					</label>
					<div class="col-md-5 col-sm-6">
						<input id="input-id-1" promise-alphanumeric-only type="text" maxlength="250" class="form-control" ng-model="vm.metodePenyampaianDokumenPengadaan.nama" />
						<strong style="color: red" translate={{vm.errorNamaMetodePenyampaianDokumenPengadaan}}></strong>
						<br />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-5 col-md-push-2 col-sm-5 col-sm-push-3">
						<button type="button" ripple="" class="mr btn btn-sm bg-default" ng-click="back()">
							<span translate="template.button.kembali"></span>
						</button>
						<button type="button" ripple="" class="mr btn btn-sm bg-primary" ng-click="save()">
							<span translate="template.button.simpan"></span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>