<div class="app-view-header">
    <span translate="promise.procurement.master.conditionalprize.JUDUL">Item Type</span>
    <small><span translate="promise.procurement.master.conditionalprize.KETERANGAN"></span></small>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="ConditionalPrizeController as form ">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><span translate="promise.procurement.master.conditionalprize.SUBJUDUL"></span></h4>
    <div class="panel-body">
        <div align="right">
            <button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="form.add()">
                <span class="btn-label"><em class="fa fa-plus"></em></span>
                <span translate="promise.procurement.master.alurpengadaan.TAMBAH"></span>
            </button>
        </div>
        <br />
        <div class="col-md-12">
            <div>
                <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" border="0"
                            width="20px" /></strong>
                </div>
                <table datatable="ng" class="row-border hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col"style="text-align:center; width:5%"><span translate="promise.procurement.master.alurpengadaan.list.NOMOR">Nomor</span>
                            </th>
                            <th scope="col"style="text-align:center; width:15%"><span translate="promise.procurement.master.conditionalprize.list.KODE"></span>
                            </th>
                            <th scope="col"style="text-align:left; width:15%"><span translate="promise.procurement.master.conditionalprize.list.NAMA"></span>
                            </th>
                            <th scope="col"style="text-align:left; width:25%"><span translate="promise.procurement.master.conditionalprize.list.TIPE"></span>
                            </th>
                            <th scope="col"style="text-align:left; width:15%"><span translate="promise.procurement.master.conditionalprize.list.FUNGSI"></span>
                            </th>
                            <th scope="col"style="text-align:left; width:15%"><span translate="promise.procurement.master.conditionalprize.list.PERSEN"></span>
                            </th>
                            <th scope="col"style="text-align:center; width:10%"><span translate="promise.procurement.master.alurpengadaan.list.AKSI">Aksi</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tabel in form.conditionalPrizeList">
                            <td style="text-align:center">{{ $index+1 }}</td>
                            <td style="text-align:center">{{ tabel.kode }}</td>
                            <td>{{ tabel.nama }}</td>
                            <td style="text-align:left">
                                <span ng-if="tabel.tipe == 1">Header / Kena price berdasarkan Total</span>
                                <span ng-if="tabel.tipe == 2">Item / tiap satuan kena price</span>
                            </td>
                            <td style="text-align:left">
                                <span ng-if="tabel.fungsi == -1">Mengurangi Harga</span>
                                <span ng-if="tabel.fungsi == 1">Menambah Harga</span>
                            </td>
                            <td style="text-align:left">
                                <span ng-if="tabel.isPersentage == 0">Nilai</span>
                                <span ng-if="tabel.isPersentage == 1">Nilai Persentase</span>
                            </td>
                            <td style="text-align:center">
                                <div>
                                    <button ng-if="tabel.id > 1" type="button" ng-class="'bg-' + app.theme.name" class="mr btn btn-xs"
                                        ng-click="form.edit(tabel)">
                                        <em class="fa fa-pencil fa-lg"></em>
                                    </button>
                                    <button ng-if="tabel.id > 1" type="button" class="mr btn btn-danger btn-xs"
                                        ng-click="form.del(tabel.id)">
                                        <em class="fa fa-trash fa-lg"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END CONTROLLER-->