<div class="app-view-header">
	<span translate="promise.procurement.master.logemailnotifikasi.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary"
	ng-controller="EmailNotificationLogController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
		<em class="fa fa-tasks"></em> <span
			translate="promise.procurement.master.logemailnotifikasi.subjudul"></span>
		<a class="pull-right btn-collapse" data-toggle="collapse"
			data-parent=".panel" href=".panel-body" aria-expanded="true"
			aria-controls="panel-body"> <em class="fa fa-chevron-circle-down"></em>
		</a>
	</h4>
	<div class="panel-body collapse in">
		<p>&nbsp;</p>
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true">
				<strong><em>Loading...<img src="app/img/loading.gif" width="20px"
						border="0" /></em></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col">
							<span translate="template.tabel.nomor"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.kepada"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.subjek"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.konten"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.waktu"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.email_status"></span>
						</th>
						<th scope="col">
							<span translate="promise.procurement.master.logemailnotifikasi.list.aksi"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emailNotification in vm.emailNotificationLogList">
						<td>{{ $index+1 }}</td>
						<td ng-bind="emailNotification.emailTo"></td>
						<td ng-bind="emailNotification.subject"></td>
						<td ng-bind-html="emailNotification.message"></td>
						<td class="text-right"
							ng-bind="emailNotification.sendingDate | date:'dd/MM/yyyy'"></td>
						<td ng-bind="emailNotification.statusEmailSending==1?'Succes':'Failed'"></td>
						<td class="text-center">
							<button type="button" ng-class="'bg-' + app.theme.name"
								class="btn btn-primary btn-sm btn-refresh" data-toggle="tooltip" data-placement="bottom" title="Resend Email"
								ng-click="resendEmail(emailNotification)">
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--END CONTROLLER-->