<div class="app-view-header">	<span translate="promise.procurement.master.bidang_usaha.judul"></span>
	<!-- <span>Bidang Usaha</span> -->
	<!-- <small><span>Pengaturan Struktur Item Group</span></small> -->
</div>
<div class="panel panel-primary">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
        <em class="fa fa-tasks"></em>
        <span translate="promise.procurement.master.bidang_usaha.subjudul"></span>
        <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
            <em class="fa fa-chevron-circle-down"></em>
        </a>
    </h4>
	<div class="panel-body collapse in" ng-controller="BidangUsahaController as vm" class="container-fluid">
		<div class="row">
			<div class="page-header clearfix">
				<label for="input-id-1" class="col-sm-2 control-label"><span translate="promise.procurement.master.bidang_usaha.pilihan">Anda Memilih :</span>
				</label>
				<div class="col-sm-6" ng-show="statusEdit==false">	<code>{{ output }}</code>
				</div>
				<div class="col-sm-6" ng-show="statusEdit">
					<input id="input-id-1" promise-alphanumeric-only type="text" placeholder="Masukan Nama" class="form-control" ng-model="vm.bidangUsaha.nama" style="background-color:#F0F8FF;" /> <strong style="color: red" translate={{vm.errorNamaBidangUsaha}}></strong>
					<br/>
					<input id="input-id-1" type="hidden" ng-model="vm.bidangUsaha.id" />
					<input id="input-id-1" type="hidden" ng-model="vm.bidangUsaha.parentId" />
				</div>
				<div class="col-sm-1" ng-show="statusEdit==false">
					<button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-sm" ng-click="statusEdit=true"> <span translate="template.button.ubah">Edit</span>
					</button>
				</div>
				<div class="col-sm-1" ng-show="statusEdit==false">
					<button type="button" class="mr btn btn-sm bg-danger" ng-click="del(vm.bidangUsaha.id)"> <span translate="template.button.hapus">Hapus</span>
					</button>
				</div>
				<div class="col-sm-1" ng-show="statusEdit">
					<button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-sm" ng-click="save()"> <span translate="template.button.simpan">Simpan</span>
					</button>
				</div>
				<div class="col-sm-1" ng-show="statusEdit">
					<button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-sm" ng-click="btnBatal()"> <span translate="template.button.batal">Batal</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="well wd-wide"> <span ng-if="doing_async"><strong><em>Loading...</em><img src="app/img/loading.gif" width="15px" border="0"/></strong></span>
					<div align="center" ng-show="vm.loading"><strong><em>Loading...</em><img src="app/img/loading.gif" width="15px" border="0"/></strong>
					</div>
					<abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row pv"> <span class="mt"><font size="2"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Tree Control API :</strong></font></span>
					<div class="col-md-7 col-md-7 pull-right"> <a href="" ng-click="modalsTambah()" class="btn btn-info btn-xs"><span translate="promise.procurement.master.bidang_usaha.tambah">Tambah Parent</span></a>
					</div>
				</div>
				<br/>
				<div class="btn-group btn-group-justified mb"><a ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm mb">First Branch</a><a ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</a>
				</div>
				<div class="btn-group btn-group-justified mb"><a ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</a><a ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</a>
				</div>
				<div class="btn-group btn-group-justified mb"><a ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</a><a ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</a>
				</div>
				<div class="btn-group btn-group-justified mb"><a ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</a><a ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm mb">Parent</a>
				</div>
				<div class="btn-group btn-group-justified mb"><a ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</a><a ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="/tambah.html">
	<div class="modal-header">
	        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">× </button>
	        <h3 id="myModalLabel" class="modal-title"><span translate="promise.procurement.master.bidang_usaha.judul">Bidang Usaha</span>
	    	<small><span translate="promise.procurement.master.bidang_usaha.tambah">Tambah Parent</span></small></h3>
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-xs-12" align="center" ng-if="loading==true"> <strong> <em> Loading... </em><img src="app/img/loading.gif" width="20px" border="0 "/></strong></div>
	            <fieldset>
	            	<div class="form-group">
	                	<label for="input-id-1" class="col-md-2 col-sm-3 control-label"><span translate="promise.procurement.master.bidang_usaha.view.nama">Nama</span>
	                    <strong style="color: red">*</strong></label>
						<div class="col-md-5 col-sm-6">
	                    	<input id="input-id-1" promise-alphanumeric-only type="text"maxlength="250" class="form-control" ng-model="nama"/>
							<strong style="color: red" translate={{errorNamaBidangUsaha}}></strong>
	                    </div>
	                </div>
	            </fieldset>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <div class="form-group">
				<div class="text-center">
					<button type="button" ripple="" class="mr btn btn-sm bg-default" ng-click="cancel()">
						<span translate="template.button.kembali"></span>
					</button>
					<button type="button" ripple="" class="mr btn btn-sm bg-primary" ng-click="save()">
						<span translate="template.button.simpan"></span>
					</button>
				</div>
			</div>
	    </div>
</script>