<!-- 
GENERAL VIEW OF THE PROCUREMENT SYSTEM 
---------- START CONTROLLER ----------
-->

<div class="app-view-header">
    <span translate="promise.procurement.panitia.pemasukandokumenkualifikasi.JUDUL">n</span>
</div>

<div class="panel panel-primary" ng-controller="PemasukanDokumenKualifikasiController as form">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-tasks">&nbsp;</em><span translate="promise.procurement.panitia.pemasukandokumenkualifikasi.SUBJUDUL"></span></h4>
    <div class="panel-body">
        <div class="col-md-12">
            <div>
                <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong></div>
                <table datatable="ng" class="row-border hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col"style="text-align:center">No
                            </th>
                            <th scope="col"style="text-align:center"><span translate="proc.no_procurement">No Pengadaan</span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="proc.name_procurement">Nama Pengadaan</span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="general.position">Tahapan Saat Ini</span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="general.date">Tanggal</span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="general.action">Aksi</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in pengadaanList">
                            <td style="text-align:center">{{ $index+1 }}</td>
                            <td style="text-align:center">{{ data.nomorNotaDinas }}</td>
                            <td style="text-align:center">{{ data.namaPengadaan }}</td>
                            <td style="text-align:center"><a href='#'>{{ data.tahapanPengadaan.tahapan.nama }}</a></td>
                            <td style="text-align:center">{{ data.tanggalNotaDinas | date:'dd/MM/yyyy'}}</td>
                            <td class="action-col">
                                <a ng-show="data.tahapanPengadaan.tahapan.id!=6 && data.tahapanPengadaan.tahapan.id!=5" class="view-order badge bg-primary" ng-click="view(data)">
                                    <em class="fa fa-search"></em>
                                </a>
                                <a ng-show="data.tahapanPengadaan.tahapan.id==6 || data.tahapanPengadaan.tahapan.id==5" class="view-order badge bg-success" ng-click="view(data)">
                                    <em class="fa fa-pencil fa-lg"></em>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END CONTROLLER-->
