<div class="app-view-header">
	<span translate="promise.procurement.master.metodepengadaan.judul"></span>
</div>
<div class="panel panel-primary" ng-controller="MetodePengadaanViewController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
		<span ng-if="vm.toDo == 'Add'" translate="promise.procurement.master.metodepengadaan.view.subjudul_tambah"></span>
		<span ng-if="vm.toDo == 'Edit'" translate="promise.procurement.master.metodepengadaan.view.subjudul_ubah"></span>
	</h4>
	<div class="panel-body">
		<form method="post" name="input" action="#" novalidate="" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-md-2 col-sm-3 control-label">
						<span translate="promise.procurement.master.metodepengadaan.view.nama"></span>
						<strong style="color: red">*</strong>
					</label>
					<div class="col-md-5 col-sm-6">
						<input type="text" class="form-control" maxlength="250" ng-model="vm.metodePengadaan.nama"/> 
						<strong style="color: red" translate={{vm.errorMessageMetodePengadaan}}></strong>
						<br />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-5 col-md-push-2 col-sm-5 col-sm-push-3">
						<button type="button" ripple="" class="mr btn btn-sm bg-default" ng-click="back()">
							<span translate="template.button.kembali"></span>
						</button>
						<button type="button" ripple="" class="mr btn btn-sm bg-primary" ng-click="save()">
							<span translate="template.button.simpan"></span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>