<div class="app-view-header">
    <span translate="tablelog.judul"></span>
</div>

<div class="panel panel-primary" ng-controller="TableLogIndexController as vm">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
        <em class="fa fa-tasks">&nbsp;</em>
        <span>List Table Log</span>
        <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
			<em class="fa fa-chevron-circle-down"></em>
		</a>
    </h4>
    <div class="panel-body collapse in">
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true">	
				<strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0" /></em></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"><span translate="general.number"></span></th>
                        <th scope="col"><span translate="tablelog.indexlist.nama_user"></span></th>
                        <th scope="col"><span translate="tablelog.indexlist.aksi"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tl in vm.listTableLog">
                        <td class="text-center">{{ $index+1 }}</td>
                        <td class="text-center">{{tl.namaPengguna}}</td>
                        <td class="text-center">
                            <!-- <button type="button" class="mr btn btn-success btn-circle" ng-click="vm.viewTableLog(tl.id)">
                            <i class="fa fa-search"></i>
                            </button> -->
                            <button type="button" ng-class="'bg-' + app.theme.name" class="btn btn-primary btn-sm btn-search" ng-click="vm.viewTableLog(tl.id)">
							</button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>            
    </div>
</div>