<!-- 
GENERAL VIEW OF THE PROCUREMENT SYSTEM 
---------- START CONTROLLER ----------
-->

<div class="app-view-header">
    <span translate="promise.procurement.panitia.penetapanpemenang.JUDUL"></span> 
</div>

<div class="panel panel-primary" ng-controller="PenetapanPemenangController as form">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-tasks">&nbsp;</em><span translate="promise.procurement.panitia.penetapanpemenang.SUBJUDUL"></span></h4>
    <div class="panel-body">
        <br/>
        <div class="col-md-12">
            <div>
                <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong>
                </div>
                <table datatable="ng" class="row-border hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col"style="text-align:center">No
                            </th>
                            <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.NOMOR"></span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.NAMA"></span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.POSISI"></span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.CREATEDATE"></span>
                            </th>
                            <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiadministrasi.list.AKSI"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tabel in form.pengadaanList">
                            <td style="text-align:center">{{ $index+1 }}</td>
                            <td style="text-align:center">{{ tabel.nomorNotaDinas }}</td>
                            <td style="text-align:center">{{ tabel.namaPengadaan }}</td>
                            <td style="text-align:center"><a href="" ng-click="form.detail(tabel)">{{tabel.tahapanPengadaan.tahapan.nama}}</a>
                            </td>
                            <td style="text-align:center">{{ tabel.tahapanPengadaan.tahapan.created | date:'dd/MM/yyyy'}}</td>
                            <td style="text-align:center">
                                <div>
                                    <button ng-if="tabel.tahapanPengadaan.tahapan.id == 17 || tabel.tahapanPengadaan.tahapan.id == 15" type="button" class="mr btn btn-success btn-circle btn-xs" ng-click="form.detail(tabel)">
                                        <em class="fa fa-pencil fa-lg"></em>
                                    </button>
                                    <button ng-if="tabel.tahapanPengadaan.tahapan.id != 17 && tabel.tahapanPengadaan.tahapan.id != 15" type="button" class="mr btn btn-primary btn-circle btn-xs" ng-click="form.detail(tabel)">
                                        <em class="fa fa-search"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END CONTROLLER-->