<!--
SPESIFIC VIEW OF THE FIRST DETAIL EVALUASI HARGA BIDDING MENU
----------------------- START CONTROLLER --------------------
-->

<div class="app-view-header">
    <span translate="promise.procurement.panitia.evaluasiharga.JUDUL">Evaluasi Harga</span>
    <small><span translate="promise.procurement.panitia.evaluasiharga.view.BIDDING"></span></small>
    <small><span translate="promise.procurement.panitia.evaluasiharga.view.TOTAL"></span></small>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>

<div ng-controller="EvaluasiHargaTotalBiddingViewController as form">
    <div id="evaluasiHarga">

        <!----------------------------------------------- Table Ke 1 ----------------------------------------------->
        <!----------------------------------------------- Table Ke 2 ----------------------------------------------->
        <!----------------------------------------------- Table Ke 3 ----------------------------------------------->
        <promise-view-data-pengadaan pengadaan-id=pengadaanId></promise-view-data-pengadaan>

        <!----------------------------------------------- Table Ke 4 ----------------------------------------------->
        <div class="panel panel-primary" ng-if="sistemEvaluasiPenawaranId==2">
            <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-coffee">&nbsp;</em><span translate="promise.procurement.panitia.evaluasiharga.view.NILAIEVALUASI">Nilai Evaluasi</span></h4>
            <div class="panel-body">
                <div class="col-md-12">
                    <div align="center" ng-if="loading == true">
                        <strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0"/></em></strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr style="background-color:#EEEEEE">
                                    <th scope="col"style="text-align:center" width="50px"><span translate="promise.procurement.panitia.evaluasiharga.view.NOMOR">Nomor</span>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NAMAPENYEDIA">Nama Penyedia Barang/Jasa</span>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.ALAMAT">Alamat</span>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.TELEPON">Telepon</span>
                                        </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NILAIADMIN">Nilai Administrasi</span>
                                            <div ng-if="ambangBatas.length>0" class="label label-warning text-bold">
                                                {{ambangBatas[0].presentasiNilaiAdmin|number:0}}%
                                            </div>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NILAITEKNIS">Nilai Teknis</span>
                                            <div ng-if="ambangBatas.length>0" class="label label-danger text-bold">
                                                {{ambangBatas[0].presentasiNilaiTeknis|number:0}}%
                                            </div>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NILAIHARGA">Nilai Harga</span>
                                            <div ng-if="ambangBatas.length>0" class="label label-info text-bold">
                                                {{ambangBatas[0].presentasiNilaiHarga|number:0}}%
                                            </div>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.TOTALNILAI">Total Nilai</span>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.HARGA">Harga</span>
                                    </th>
                                    <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.HARGA">Harga (Rp.)</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ev in dataHasilHitunganSimpan|orderBy:'-nilaiTotal'">
                                    <td style="text-align:center"><span ng-if="$index>0">{{ $index+1 }}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ $index+1 }}</strong></td>
                                    <td style="text-align:left"><span ng-if="$index>0">{{ev.vendor.nama}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.vendor.nama}}</strong></td>
                                    <td style="text-align:left"><span ng-if="$index>0">{{ev.vendor.alamat}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.vendor.alamat}}</strong></td>
                                    <td style="text-align:center"><span ng-if="$index>0">{{ev.vendor.nomorTelpon}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.vendor.nomorTelpon}}</strong></td>
                                    <td style="text-align:right"><span ng-if="$index>0">{{ev.nilaiAdmin | number :2}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.nilaiAdmin | number :2}}</strong></td>
                                    <td style="text-align:right"><span ng-if="$index>0">{{ev.nilaiTeknis | number :2}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.nilaiTeknis | number :2}}</strong></td>
                                    <td style="text-align:right"><span ng-if="$index>0">{{ev.nilaiHarga | number :2}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px">{{ev.nilaiHarga | number :2}}</strong></td>
                                    <td style="text-align:right">
                                        <span ng-if="$index>0">{{ev.nilaiTotal | number :2}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px" class="text-primary">{{ev.nilaiTotal | number :2}}</strong></td>

                                    <td style="text-align:right">
                                        <span ng-if="$index>0">{{ev.penawaranPertama | number :2}} {{ev.penawaranPertamaMataUang.kode}}</span>
                                        <strong ng-if="$index==0" style="font-size:14px" class="text-success">{{ev.penawaranPertama | number :2}} {{ev.penawaranPertamaMataUang.kode}}</strong></td>
                                    <td style="text-align:right">
                                        <span ng-if="$index>0">{{ev.nilaiPenawaranOri | number :2}} IDR</span>
                                        <strong ng-if="$index==0" style="font-size:14px" class="text-success">{{ev.nilaiPenawaranOri | number :2}} IDR</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->

        <!----------------------------------------------- Table Ke 5 ----------------------------------------------->
        <div class="panel panel-primary" ng-if="sistemEvaluasiPenawaranId!=2">
            <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-barcode">&nbsp;</em><span translate="promise.procurement.panitia.evaluasiharga.view.DATAPENYEDIA">Data Penyedia Barang/Jasa</span></h4>
            <div class="panel-body">
                <div align="center" ng-if="loading == true"><strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0"/></em></strong></div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-bordered">
                        <thead>
                            <tr style="background-color:#EEEEEE">
                                <th scope="col"style="text-align:center" width="50px"><span translate="promise.procurement.panitia.evaluasiharga.view.NOMOR">Nomor</span>
                                </th>
                                <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiharga.view.NAMAPENYEDIA">Nama Penyedia Barang/Jasa</span>
                                </th>
                                <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiharga.view.ALAMAT">Alamat </span></th>
                                <th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.evaluasiharga.view.TELEPON">Telepon</span> </th>
                                <th scope="col"style="text-align:right" width="250px"><span translate="promise.procurement.panitia.evaluasiharga.view.PENAWARANAWAL">Penawaran Awal</span>
                                </th>
                                <th scope="col"style="text-align:right" width="250px"><span translate="">Penawaran Awal IDR</span>
                                </th>
                                <th scope="col"style="text-align:center" width="200px"><span translate="promise.procurement.panitia.evaluasiharga.view.STATUS">Status</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dp in dataPenyediaList | orderBy:'nilaiPenawaranKurs'">
                                <td style="text-align:center"><span ng-if="$index>0">{{ $index+1 }}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{ $index+1 }}</strong></td>
                                <td style="text-align:left"><span ng-if="$index>0">{{dp.suratPenawaran.vendor.nama}}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{dp.suratPenawaran.vendor.nama}}</strong></td>
                                <td style="text-align:left"><span ng-if="$index>0">{{dp.suratPenawaran.vendor.alamat}}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{dp.suratPenawaran.vendor.alamat}}</strong></td>
                                <td style="text-align:center"><span ng-if="$index>0">{{dp.suratPenawaran.vendor.nomorTelpon}}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{dp.suratPenawaran.vendor.nomorTelpon}}</strong></td>
                                <td style="text-align:right"><span ng-if="$index>0">{{dp.nilaiPenawaranOri | number :2}} {{ dp.mataUang.kode }}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{dp.nilaiPenawaranOri | number :2}} {{ dp.mataUang.kode }}</strong></td>
                                <td style="text-align:right">
                                    <span ng-if="$index>0">{{dp.nilaiPenawaranKurs | number :2}} {{ dp.kodeMataUang }}</span>
                                    <strong ng-if="$index==0" style="font-size:14px">{{dp.nilaiPenawaranKurs | number :2}} {{ dp.kodeMataUang }}</strong>
                                </td>
                                <td style="text-align:center" ng-class="(dp.hasil=='Memenuhi'?'text-success':'')"><strong>{{ dp.hasil }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="back()"><em class="fa fa-arrow-circle-left">&nbsp;</em>
            <span translate="template.button.kembali"></span>
        </button>
        <button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-sm pull-center" ng-click="printDiv('evaluasiHarga')" ng-show="view==true && detilPengadaan.tahapanPengadaan.tahapan.id>13"><em class="fa fa-print">&nbsp;</em>
            <span translate="promise.procurement.panitia.pengambilandokumen.view.btn.PRINT"></span>
        </button>
        <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="saveData()">
            <span translate="template.button.simpan"></span>&nbsp;<em class="fa fa-sign-in"></em>
        </button>
    </div>
    <br>
</div>