<div class="app-view-header">
    <span translate="promise.procurement.panitia.negosiasi.JUDUL"></span>&nbsp;Total
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div ng-controller="NegosiasiTotalDetailController as form">
    <div id="negosiasi">
        <promise-view-data-pengadaan pengadaan-id=pengadaanId></promise-view-data-pengadaan>

        <form name="myform" class="form-validate form-horizontal" role="form" novalidate>
            <div class="panel panel-primary">
                <h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
				<em class="fa fa-group">&nbsp;</em> <span>Data Negosiasi Harga</span>
			</h4>
                <div class="loading" ng-show="loading" align="center">
                    <strong><em>Loading... <img src="app/img/loading.gif" border="0"
						height="20px" /></em></strong>
                </div>
                <div ng-show="!loading" class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-striped bg-white">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th scope="col"width="5%" style="text-align: center; vertical-align: top"><span translate="promise.procurement.panitia.penjelasan.kehadiranvendor.NOMOR"></span></th>
                                            <th scope="col"width="15%" style="text-align: left; vertical-align: top"><span>NAMA</span></th>
                                            <!-- <th scope="col"style="text-align: center; vertical-align: top"><span>TELEPON</span></th> -->
                                            <!-- <th scope="col"style="text-align: lef; vertical-align: top"><span>ALAMAT</span><small style="color: red;">&nbsp;*</small></th> -->
                                            <th scope="col"width="15%" style="text-align: right; vertical-align: top"><span>PRICE OFFER<br>ORIGINAL</span></th>
                                            <th scope="col"width="15%" style="text-align: right; vertical-align: top"><span>PRICE OFFER<br>(Rp. AFTER KURS)</span></th>
                                            <th scope="col"width="15%" style="text-align: right; vertical-align: top"><span>REVISION</span></th>
                                            <th scope="col"width="15%" style="text-align: right; vertical-align: top"><span>PRICE NEGO (Rp.)</span></th>
                                            <th scope="col"width="10%" style="text-align: center; vertical-align: top" width=""><span>STATUS</span></th>
                                            <th scope="col"class="loading" width="10%" style="text-align: center; vertical-align: top"><span>AKSI</span></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendorNegosiasi in form.vendorNegosiasiList | limitTo:10">
                                            <!-- using inner form for validation -->

                                            <td style="text-align: center; vertical-align: center">{{$index+1}}</td>
                                            <td style="text-align: left; vertical-align: center">{{vendorNegosiasi.vendor.nama}}</td>
                                            <!-- <td style="text-align: center; vertical-align: center">{{vendorNegosiasi.vendor.telepon}}</td> -->
                                            <!-- <td style="text-align: left; vertical-align: center">{{vendorNegosiasi.vendor.alamat}}</td> -->

                                            <!-- PENAWARAN ORIGINAL DARI VENDOR ( WITH PRICE CONDITION )-->

                                            <td style="text-align: right; vertical-align: center">
                                                <!-- DALAM CURRENCY ASLI -->
                                                {{vendorNegosiasi.negosiasiFirstFromVendor.nilaiPenawaranAfterCondition | currency:vendorNegosiasi.negosiasiFirstFromVendor.mataUang.kode+" "}}
                                            </td>
                                            <td style="text-align: right; vertical-align: center">
                                                <!-- DALAM CURRENCY IDR -->
                                                <strong class="text-primary">
                                                    {{vendorNegosiasi.negosiasiFirstFromVendor.nilaiPenawaranAfterCondition * vendorNegosiasi.kursPengadaan.nilai | currency:"IDR "}}</strong>
                                            </td>
                                            <!-- PENAWARAN REVISION AFTER NEGO DARI VENDOR DALAM IDR -->

                                            <td style="text-align: right; vertical-align: center">
                                                <strong class="text-success">{{vendorNegosiasi.negosiasiLastFromVendor.nilaiPenawaranAfterCondition * vendorNegosiasi.kursPengadaan.nilai | currency:"IDR "}}</strong>
                                            </td>
                                            <td style="text-align: right; vertical-align: center">
                                                <input id="text1" ng-hide="loadingSaving||vendorNegosiasi.isDeal" promise-currency-blur type="text" style="text-align: right;" name="vendorNegosiasi.negosiasi.nilaiPenawaranAfterCondition" class="form-control input-sm" ng-model="vendorNegosiasi.negosiasiLastFromPanitia.nilaiPenawaranAfterCondition" />                                             
                                                <input id="text1" ng-disabled="true" ng-show="loadingSaving||vendorNegosiasi.isDeal" type="text" style="text-align: right;" class="form-control input-sm"  ng-value="(vendorNegosiasi.negosiasiLastFromPanitia.nilaiPenawaranAfterCondition *  vendorNegosiasi.kursPengadaan.nilai)|number:2"/>
                                                {{model}}
                                            </td>
                                            <!-- Status.. Dealing or Last Offer -->
                                            <td style="text-align: center; vertical-align: center">
                                                <strong ng-show="vendorNegosiasi.isDeal" class="text-success">LAST OFFER</strong>
                                                <strong ng-show="!vendorNegosiasi.isDeal" class="text-info">DEALING</strong>
                                            </td>

                                            <td style="text-align: center; vertical-align: center">
                                                <div class="loading" ng-show="loadingSaving" align="center">
                                                    <strong><em>Sending... <img src="app/img/loading.gif" border="0" height="20px"/></em></strong>
                                                </div>
                                                <div ng-show="!loadingSaving && !loading">
                                                    <!-- DETIL -->
                                                    <button type="button" class="btn btn-xs bg-primary" title="Detil" ng-click="showDetail(vendorNegosiasi.negosiasiLastFromVendor)">
                                                        <em class="fa fa-search"></em>
                                                    </button>

                                                    <!-- HISTORY -->
                                                    <!-- Munculkan hanya ketika panitia sudah memasukan penawaran -->
                                                    <button ng-show="form.isPanitiaOffered" type="button" class="btn btn-xs bg-primary" title="History" ng-click="showHistory(vendorNegosiasi.negosiasiLastFromVendor)">
                                                        <em class="fa icon-paper-stack"></em>
                                                    </button>

                                                    <!--  Deal -->
                                                    <button ng-show="!vendorNegosiasi.isDeal" type="button" class="btn btn-xs btn-success" title="Deal Price" ng-click="dealPrice(vendorNegosiasi.negosiasiLastFromVendor)">
                                                        <em class="fa fa-check"></em>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
			<div ng-show="!loadingSaving">
				<div align="center">
	                <button ripple="" class="btn btn-primary btn-sm bg-primary" ng-click="gotoIndex()" ng-class="'bg-' + app.theme.name" style="margin-right: 5px">
	                    <span class=""><em class="fa fa-chevron-left"></em></span>&nbsp;&nbsp;<font color="white"><span  class="ng-scope">Back</span></font>
	                    <span class="ripple"></span>
	                </button>
	                <button ripple="" class="btn btn-primary btn-sm bg-primary" ng-click="refreshPage()" ng-class="'bg-' + app.theme.name" style="margin-right: 5px" ng-hide="view==true && detilPengadaan.tahapanPengadaan.tahapan.id>15" ng-disable="form.vendorNegosiasiList.length==0">
	                    <span class=""><em class="fa fa-refresh"></em></span>&nbsp;&nbsp;<font color="white"><span  class="ng-scope">Refresh</span></font>
	                    <span class="ripple"></span>
	                </button>
	                <button ripple="" class="btn btn-primary btn-sm bg-primary" ng-click="getUpdateTahapan()" ng-disabled="btnDisable" ng-class="'bg-' + app.theme.name" style="margin-right: 5px" ng-hide="saveBtnStatus">
	                    <span class=""><em class="fa fa-fa-chevron-right"></em></span>&nbsp;&nbsp;<font color="white"><span  class="ng-scope">Simpan - Tahapan Selanjutnya</span></font>
	                    <span class="ripple"></span>
	                </button>
<!-- 	
	                <button ripple="" ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-sm bg-primary" ng-click="printDiv('negosiasi')" ng-show="view==true && detilPengadaan.tahapanPengadaan.tahapan.id>15">
	                    <span class=""><em class="fa fa-print"></em></span>&nbsp;&nbsp;<font color="white"><span  class="ng-scope" translate="promise.procurement.panitia.pengambilandokumen.view.btn.PRINT"></span></font>
	                    <span class="ripple"></span>
	                </button>
	 -->
	                <button ripple="" class="btn btn-primary btn-sm bg-primary" ng-click="sendPriceToVendor()" ng-class="'bg-' + app.theme.name" ng-show="detilPengadaan.tahapanPengadaan.tahapan.id==15" ng-hide="btnSendPrice">
	                    <span class=""><em class="fa fa-sign-in"></em></span>&nbsp;&nbsp;<font color="white"><span  class="ng-scope">Send price to vendor</span></font>
	                    <span class="ripple"></span>
	                </button>
            	</div>
			</div>

            <br>
            <!--END KEHADIRAN VENDOR-->
        </form>
    </div>
</div>