<!-- START CONTROLLER -->
<div ng-controller="PengadaanTambahController as form">
    <div class="app-view-header">
        <span translate="promise.procurement.inisialisasi.JUDUL">Pengadaan</span>  <small><span
            translate="promise.procurement.inisialisasi.KETERANGAN"></span></small>
    </div>
    <div class="panel panel-primary">
        <h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
            <center>
                <span translate="promise.procurement.inisialisasi.tambah.SUBJUDUL">Inisialisasi Pengadaan</span>
            </center>
        </h4>
        <!-- FORM -->
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="page-header">Data Pengadaan</h4>
                    <form novalidate="" class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Nomor Dokumen Pengadaan</label>
                            <div class="col-sm-3">
                                <input required="required" type="text" class="form-control shadow-z1 input-sm" id="" ng-model="form.dokumenNomor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Tanggal Dokumen Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-10 col-lg-3">
                                        <div class="input-group">
                                            <input type="text" datepicker-popup="{{form.format}}" ng-model="form.dokumenTanggal" is-open="form.dokumenTanggalOpened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close" class="form-control shadow-z1 input-sm" />
                                            <span class="input-group-btn">
                                               <button type="button" ng-click="form.dokumenTanggalOpen($event)" class="btn btn-default shadow-z1 input-sm " ripple="">
                                                  <em class="fa fa-calendar"></em>
                                               </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Nomor Pengadaan</label>
                            <div class="col-sm-5">
                                <input required="required" type="text" class="form-control shadow-z1 input-sm" id="" ng-model="form.nomor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Nama Pengadaan</label>
                            <div class="col-sm-5">
                                <input required="required" type="text" class="form-control shadow-z1 input-sm" id="" ng-model="form.nama">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Nomor Izin Prinsip</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control shadow-z1 input-sm" id="" ng-model="form.izinPrinsipNomor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Tanggal Izin Prinsip</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-10 col-lg-3">
                                        <div class="input-group">
                                            <input type="text" datepicker-popup="{{form.format}}" ng-model="form.izinPrinsipTanggal" is-open="form.izinPrinsipTanggalOpened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close" class="form-control shadow-z1 input-sm" />
                                            <span class="input-group-btn">
                                               <button type="button" ng-click="form.izinPrinsipTanggalOpen($event)" class="btn btn-default shadow-z1 input-sm " ripple="">
                                                  <em class="fa fa-calendar"></em>
                                               </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Kategori Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="kategoriPengadaan.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="kategoriPengadaan in kategoriPengadaanList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="kategoriPengadaan.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Alur Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="alurPengadaan.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="alurPengadaan in alurPengadaanList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="alurPengadaan.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Jenis Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="jenisPengadaan.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="jenisPengadaan in jenisPengadaanList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="jenisPengadaan.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Metode Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ui-select ng-model="metodePengadaan.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="metodePengadaan in metodePengadaanList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="metodePengadaan.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Kualifikasi Pengadaan</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="kualifikasiPengadaan.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="kualifikasiPengadaan in kualifikasiPengadaanList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="kualifikasiPengadaan.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Metode Penyampaian Dokumen</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ui-select ng-model="metodePenyampaianDokumen.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="metodePenyampaianDokumen in metodePenyampaianDokumenList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="metodePenyampaianDokumen.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Metode Penawaran Harga</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="metodePenawaranHarga.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="metodePenawaranHarga in metodePenawaranHargaList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="metodePenawaranHarga.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Jenis Penawaran</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ui-select ng-model="jenisPenawaran.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="jenisPenawaran in jenisPenawaranList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="jenisPenawaran.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Sistem Evaluasi Penawaran</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ui-select ng-model="sistemEvaluasiPenawaran.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="sistemEvaluasiPenawaran in sistemEvaluasiPenawaranList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="sistemEvaluasiPenawaran.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Kualifikasi Penyedia Barang / Jasa</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ui-select ng-model="kualifikasiVendor.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="kualifikasiVendor in kualifikasiVendorList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="kualifikasiVendor.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Identifikasi HPS</label>
                            <div class="col-sm-5">
                                <div class="radio-inline c-radio">
                                    <label>
                                        <input id="inlineradio10" type="radio" name="form.identifikasiHPS" value="Y" checked="checked" />
                                        <span class="fa fa-check"></span>Sudah Termasuk Pajak
                                    </label>
                                </div>
                                <div class="radio-inline c-radio">
                                    <label>
                                        <input id="inlineradio20" type="radio" name="form.identifikasiHPS" value="N" />
                                        <span class="fa fa-check"></span>Tidak Termasuk Pajak
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Mata Uang</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ui-select ng-model="mataUang.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="++ Pilih ++">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices repeat="mataUang in mataUangList | propsFilter: {id: $select.search}">
                                                <div ng-bind-html="mataUang.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Minimal Pengalaman</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <ui-select ng-model="pengalamanMinimal.selected" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="0">{{$select.selected.pengalam}}</ui-select-match>
                                            <ui-select-choices repeat="pengalaman in pengalamanMinimalList | propsFilter: {pengalam: $select.search}">
                                                <div ng-bind-html="pengalaman.pengalam | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <label class="col-sm-1 control-label">Pengalaman</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Minimal Nilai Kontrak</label>
                            <div class="col-sm-4">
                                <div class="input-group m-b">
                                    <input type="number" class="form-control shadow-z1 input-sm" ng-model="form.minimalNilai" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Range Tahun Pengalaman</label>
                            <label for="" class="col-sm-1 control-label">Tahun</label>
                            <div class="col-sm-20">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <select name="account" ng-model="form.tahunPengalamanStart" class="form-control m-b">
                                            <option>2015</option>
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="col-sm-1 control-label">s/d</label>
                                    </div>
                                    <div class="col-sm-20">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <select name="account" ng-model="form.tahunPengalamanEnd" class="form-control m-b">
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Bidang -Sub Bidang Usaha</label>
                            <label for="" class="col-sm-4 control-label">Tidak Ada Data</label>
                            <div class="col-md-5 control-label">
                                <a ng-class="'bg-' + app.theme.name" data-toggle="modal" data-target="#" class="btn btn-primary btn-sm" ng-click="btnAddNew()" ripple=""><span class=""><em class="fa fa-plus"></em></span>&nbsp;&nbsp;<font color="white">Tambah</font>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Keterangan Pengadaan</label>
                            <div class="col-sm-5">
                                <textarea class="form-control shadow-z1 input-sm" style="margin: 0px -255.203125px 0px 0px; height: 136px; width: 536px;" ng-model="form.keterangan"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 class="page-header">Dokumen Pengadaan</h4>
                            <div align="right">
                                <a ng-class="'bg-' + app.theme.name" data-toggle="modal" data-target="#" class="btn btn-primary btn-sm" ng-click="btnAddFile()" ripple="">
                                    <span class=""><em class="fa icon-paper-clip"></em></span>&nbsp;&nbsp;<font color="white">Upload File</font>
                                </a>
                            </div>
                            <div class="table-responsive">

                                <table class="table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th scope="col"style="width:2; text-align:center">No</th>
                                            <th scope="col"style="width:25; text-align:center">Keterangan</th>
                                            <th scope="col"style="width:25; text-align:center">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">1</td>
                                            <td>RKS</td>
                                            <td><a href="#">DOKUMEN_RKS.docx</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center">2</td>
                                            <td>Dokumen Izin Prinsip</td>
                                            <td><a href="#">DOKUMEN_IZIN_PRINSIP_001PI-2015.docx</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 class="page-header">Nomor Pengumuman / Undangan</h4>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Nomor Pengumuman / Undangan</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control shadow-z1 input-sm" id="" ng-model="e">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>