<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content">
	    	<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
	            <span ng-class="{'fa fa-chevron-right': collapsed, 'fa fa-chevron-down': !collapsed}"></span>
	        </a>
	    	<label class="c-checkbox">
							<input class="form-control m-b input-sm" type="checkbox" ng-model="node.value" ng-click="pickCategory(node)"  
										 ng-disabled="node.categoryChildList && node.categoryChildList.length > 0"/>
	            <span class="fa fa-check m-sm"></span>
	            <strong>{{node.translateInd}} </strong>
	        </label>
	    </div>
	    <ol ng-if="node.categoryChildList != null" ui-tree-nodes="" ng-model="node.categoryChildList" ng-class="{hidden: !collapsed}">
	    	<li ng-repeat="node in node.categoryChildList" data-nodrag ng-include="'nodes_renderer.html'" ui-tree-node></li>
	    </ol>
</script>
<div class="row" ui-tree="">
	<div class="col-md-12">
		<!-- <button class="btn btn-xs btn-primary" ng-click="expandAll()">Expand all</button>
        <button class="btn btn-xs btn-info" ng-click="collapseAll()">Collapse all</button> -->
		<ol class="no-icon" ui-tree-nodes="treeOptions" ng-model="catalog.categoryList">
			<li ng-repeat="node in catalog.categoryList" data-nodrag ng-include="'nodes_renderer.html'" ui-tree-node disabled></li>
		</ol>
	</div>
	<div class="col-md-12 text-center" style="margin-top: 30px">
		<a class="btn btn-default" ng-click="backToGeneral()"> <span translate="promise.procurement.master.attribute.btn.SEBELUMNYA"></span>
		</a>
		<a class="btn btn-primary" ng-click="goToImages()"> <span translate="promise.procurement.master.attribute.btn.SELANJUTNYA"></span>
		</a>
	</div>
</div>