<div class="app-view-header">
	<span translate="promise.procurement.panitia.pembukaanpenawaran.JUDUL"></span>
	<!--<small><span translate="promise.procurement.panitia.pembukaanpenawaran.total.TOTAL"></span></small>-->
</div>
<!--START CONTROLLER-->
<div ng-controller="PembukaanPenawaranSatuanController as form">
    <div id="pembukaanPenawaran">
	<div class="panel panel-primary">
		<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-table">&nbsp;</em> <span
				translate="promise.procurement.panitia.pembukaanpenawaran.total.DATA"></span>
		</h4>
		<div class="panel-body">
			<toaster-container
				toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
			<div class="panel-body">
				<div align="center" ng-if="loading == true">
					<strong><em>Loading...</em><img src="app/img/loading.gif"
						width="20px" border="0" /></strong>
				</div>
				<div class="table-responsive">
					<table id="table-ext-1" class="table table-bordered table-hover"
						width="100%">
						<tbody>
							<tr>
								<td style="text-align: left" width="40%"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.NAMA"></span>
								</td>
								<td style="text-align: left" width="60%">{{form.namaPengadaan}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.JENIS"></span>
								</td>
								<td style="text-align: left">{{form.jenisPengadaan.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.METODE"></span>
								</td>
								<td style="text-align: left">{{form.metodePengadaan.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.KUALIFIKASI"></span>
								</td>
								<td style="text-align: left">{{form.kualifikasiPengadaan.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.METPENAWARAN"></span>
								</td>
								<td style="text-align: left">{{form.metodePenawaranHarga.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.EVALUASI"></span>
								</td>
								<td style="text-align: left">{{form.sistemEvaluasiPenawaran.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.MU"></span>
								</td>
								<td style="text-align: left">{{form.mataUang.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.BRGJASA"></span>
								</td>
								<td style="text-align: left">{{form.kualifikasiVendor.nama}}</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.BIDANG"></span>
								</td>
								<td style="text-align: left">
									<div align="center" ng-if="loading == true">
										<strong><em>Loading...</em><img src="app/img/loading.gif"
											width="20px" border="0" /></strong>
									</div>
									<div ng-repeat="bd in form.subBidangUsahaByPengadaanIdList">
										<li>{{bd.subBidangUsaha.bidangUsaha.nama}}</li>
										<ul class="fa fa-long-arrow-right">
											{{bd.subBidangUsaha.nama}}
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: left"><span
									translate="promise.procurement.panitia.pembukaanpenawaran.total.KET"></span>
								</td>
								<td style="text-align: left">{{form.keterangan}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--END PANEL PERTAMA-->
	<!--START PANEL RINCIAN KEBUTUHAN MATERIAL-->
	<div class="panel panel-primary">
		<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-archive">&nbsp;</em> <span
				translate="promise.procurement.inisialisasi.tambahbumn.TBLMATERIAL"></span>
		</h4>
		<div class="panel-body">
			<div class="table-responsive">
				<div align="center" ng-if="loading == true">
					<strong><em>Loading...</em><img src="app/img/loading.gif"
						width="20px" border="0" /></strong>
				</div>
				<table ng-table="form.itemPengadaanMaterial"
					class="table table-hover table-condensed table-striped bg-white">
					<thead>
						<tr style="font-weight: bold">
							<th scope="col"style="width: 10%; text-align: center"><span
								translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLNOPERENCANAAN"></span>
							</th>
							<th scope="col"
								style="width: 10%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLKDMATERIAL"></span>
							</th>
							<th scope="col"
								style="width: 15%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLNMMATERIAL"></span>
							</th>
							<th scope="col"style="width: 6%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLKUANTITAS"></span>
							</th>
							<th scope="col"style="width: 6%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLSAT"></span>
							</th>
							<th scope="col"
								style="width: 15%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLHPS"></span>
							</th>
							<th scope="col"
								style="width: 17%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLTOTALHPS"></span>
							</th>
							<th scope="col"
								style="width: 15%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLKET"></span>
							</th>
							<th scope="col"style="width: 6%; text-align: center; vertical-align: middle"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TBLAKSI">Aksi</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ppm in  $data">
							<td style="text-align: center; vertical-align: middle">
								{{$index+1}}</td>
							<td style="text-align: center; vertical-align: middle">
								{{ppm.item.kode}}</td>
							<td style="vertical-align: middle">{{ppm.item.nama}}</td>
							<td style="text-align: center; vertical-align: middle">
								{{ppm.kuantitas}}</td>
							<td style="text-align: center; vertical-align: middle">
								{{ppm.item.satuanId.nama}}</td>
							<td style="text-align: right; vertical-align: middle">
								{{ppm.nilaiHPS | currency:ppm.mataUang.kode+" "}}</td>
							<td style="text-align: right; vertical-align: middle">
								{{ppm.totalHPS | currency:ppm.mataUang.kode+" "}}</td>
							<td style="vertical-align: middle">{{ppm.item.deskripsi}}</td>
							<td style="text-align: center">
								<div>
									<button type="button"
										class="mr btn btn-success btn-circle btn-xs" ng-click="form.getPembukaanPenawaranDetil(ppm, 'lg')">
										<em class="fa fa-search"></em>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--END PANEL KEDUA-->
	<!--START PANEL RINCIAN KEBUTUHAN JASA-->
	<div class="panel panel-primary">
		<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-briefcase">&nbsp;</em> <span
				translate="promise.procurement.inisialisasi.tambahbumn.TBLJASA"></span>
		</h4>
		<div class="panel-body">
			<div class="col-xs-12">
				<div class="table-responsive">
					<div align="center" ng-if="loading == true">
						<strong><em>Loading...</em><img src="app/img/loading.gif"
							width="20px" border="0" /></strong>
					</div>
					<table ng-table="form.itemPengadaanJasa"
						class="table table-hover table-condensed table-striped bg-white">
						<thead>
							<tr style="font-weight: bold">
								<th scope="col"
									style="width: 9%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLNOPERENCANAAN"></span>
								</th>
								<th scope="col"
									style="width: 25%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLNMMATERIAL"></span>
								</th>
								<th scope="col"
									style="width: 10%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLKUANTITAS"></span>
								</th>
								<th scope="col"
									style="width: 10%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLSAT"></span>
								</th>
								<th scope="col"
									style="width: 10%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLHPS"></span>
								</th>
								<th scope="col"
									style="width: 15%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLTOTALHPS"></span>
								</th>
								<th scope="col"
									style="width: 15%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLKET"></span>
								</th>
								<th scope="col"
									style="width: 6%; text-align: center; vertical-align: middle"><span
									translate="promise.procurement.inisialisasi.tambahbumn.TBLAKSI">Aksi</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ppj in $data">
								<td style="text-align: center; vertical-align: middle">
									{{$index+1}}</td>
								<td style="vertical-align: middle">{{ppj.item.nama}}</td>
								<td style="text-align: center; vertical-align: middle">
									{{ppj.kuantitas}}</td>
								<td style="text-align: center; vertical-align: middle">
									{{ppj.item.satuanId.nama}}</td>
								<td style="text-align: right; vertical-align: middle">
									{{ppj.nilaiHPS | currency:ppj.mataUang.kode+" "}}</td>
								<td style="text-align: right; vertical-align: middle">
									{{ppj.totalHPS | currency:ppj.mataUang.kode+" "}}</td>
								<td style="vertical-align: middle">{{ppj.item.deskripsi}}</td>
								<td style="text-align: center">
									<div>
										<button type="button"
											class="mr btn btn-success btn-circle btn-xs" ng-click="form.getPembukaanPenawaranDetil(ppj, 'lg')">
											<em class="fa fa-search"></em>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button ng-class="'bg-' + app.theme.name" type="button" ripple=""
					class="btn btn-sm pull-right" ng-click="form.goKurs()">
					<span
						translate="promise.procurement.panitia.pembukaanpenawaran.total.KURS"></span>
				</button>
			</div>
		</div>
	</div>
	<!--START PANEL DAFTAR HADIR PANITIA PENGADAAN DAN TIM TEKNIS-->
	<div class="panel panel-primary">
		<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-group">&nbsp;</em> <span
				translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLDAFTARKEHADIRAN"></span>
		</h4>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="table-responsive">
						<table
							class="table table-hover table-condensed table-striped bg-white">
							<thead>
								<tr style="font-weight: bold">
									<th scope="col"style="width: 2%; text-align: center"><span
										translate="promise.procurement.inisialisasi.tambahbumn.TBLNO"></span>
									</th>
									<th scope="col"style="width: 20%; text-align: left"><span
										translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLNAMA"></span>
									</th>
									<th scope="col"style="width: 20%; text-align: left"><span
										translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLJABATAN"></span>
									</th>
									<th scope="col"ng-if="btnSimpanStatus"
										style="width: 2%; text-align: center"><span
										translate="promise.procurement.inisialisasi.tambahbumn.TBLAKSI"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="btnSimpanStatus"
									ng-repeat="pphp in form.kehadiranPanitiaList | limitTo:10">
									<td style="text-align: center">{{$index+1}}</td>
									<td style="text-align: center; vertical-align: middle"><input
										type="text" name="namap"
										class="form-control shadow-z1 input-sm" id="namap"
										ng-model="pphp.nama"></td>
									<td style="text-align: center; vertical-align: middle"><select
										name="jabatan" ng-model="pphp.jabatan"
										class="form-control m-b shadow-z1 input-sm">
											<option ng-repeat="jabatan in optionJabatan"
												value="{{ jabatan.id }}">{{jabatan.nama}}</option>
									</select></td>
									<td
										style="width: 2%; white-space: nowrap; text-align: center; vertical-align: middle">
										<button ripple="" ng-click="form.removeHadir($index)"
											title="Delete" class="mr btn btn-danger btn-circle btn-xs">
											<em class="fa fa-trash"></em>
										</button>
									</td>
								</tr>
								<tr ng-if="btnSimpanStatus==false"
									ng-repeat="pphp in form.kehadiranPanitiaList | limitTo:10">
									<td style="text-align: center">{{$index+1}}</td>
									<td style="text-align: left; vertical-align: middle">{{
										pphp.nama }}</td>
									<td style="text-align: left; vertical-align: middle">
										{{pphp.jabatan.nama}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-body" ng-show="btnSimpanStatus">
						<button ng-class="'bg-' + app.theme.name"
							ng-click="form.addHadir()"
							class="btn btn-primary btn-sm pull-right" ripple="">
							<span class=""><em class="fa fa-plus"></em></span>&nbsp;&nbsp;<font
								color="white"><span
								translate="promise.procurement.inisialisasi.tambahbumn.TAMBAH"></span></font>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div align="center" ng-bind-html="messageError" style="color: red"></div>
	<div align="center" ng-bind-html="messageSuccess" style="color: green"></div>
	<div align="center" ng-if="loading == true">
		<strong><em>Loading...</em><img src="app/img/loading.gif" width="20px"
			border="0" /></strong>
	</div>

	<!----------------BUTTON SIMPAN--------------------->
	<div align="center">
		<button ng-class="'bg-' + app.theme.name" ng-click="form.back()"
			class="btn btn-primary btn-sm pull-center" ripple="">
			<span class=""><em class="fa fa-chevron-left"></em></span>&nbsp;&nbsp;<font
				color="white"><span
				translate="promise.procurement.inisialisasi.tambahbumn.BATAL"></span></font>
		</button>
        <button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-sm pull-center" ng-click="printDiv('pembukaanPenawaran')" ng-show="view==true && form.tahapanPengadaan>6"><em class="fa fa-print">&nbsp;</em>
                <span translate="promise.procurement.panitia.pengambilandokumen.view.btn.PRINT"></span>
            </button>
		<button ng-show="btnSimpanStatus" ng-class="'bg-' + app.theme.name"
			ng-click="form.btnSimpan()"
			class="btn btn-primary btn-sm pull-center" ripple="">
			<span class=""><em class="fa fa-sign-in"></em></span>&nbsp;&nbsp;<font
				color="white"><span
				translate="promise.procurement.panitia.pembukaanpenawaran.tambah.SIMPAN"></span></font>
		</button>
	</div>
</div>
<script type="text/ng-template" id="/inputKurs.html">
    <div class = "modal-header"> <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">× </button>
		<h3 id="myModalLabel" class="modal-title">
            <span translate="promise.procurement.panitia.pembukaanpenawaran.total.modal.KURSTERHADAP"></span></h3>
	</div>
    <div class="modal-body"> <div class="row"> <div class="col-xs-12" align="center" ng-if="loading==true"> <strong> <em> Loading... </em><img src="app/img/loading.gif" width="20px" border="0 "/></strong></div>
        <div class="col-xs-12">
            <table class="table table-hovertable-condensed table-striped bg-white">
                <thead>
						<tr style="font-weight:bold">
                            <th scope="col"style="width:2%; text-align:center">
                                <span translate="promise.procurement.inisialisasi.tambahbumn.TBLNO "></span>
							</th>
							<th scope="col"style="width:20%; text-align:left">
                                <span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLNMKURS"></span>
							</th>
							<th scope="col"style="width:20%; text-align:center">KURS</th>
							<th scope="col"style="width:2%; text-align:center">
                                <span translate="promise.procurement.inisialisasi.tambahbumn.TBLAKSI"></span>
							</th>
						</tr>
				</thead>
					<tbody>
						<tr ng-repeat="inputKurs in inputKursList | limitTo: 10">
							<td style="text-align: center;vertical-align:middle">
								{{$index+1}}
							</td>
							<td style="text-align:left; vertical-align:middle">
								{{inputKurs.nama +' - ' + inputKurs.kode}}
							</td>
							<td style="text-align:center; vertical-align:middle">
								<input type="number" class="form-control shadow-z1 input-sm" fcsa-number="{prepend:'Rp. '}" ng-model="inputKurs.kurs" ng-if="btnSimpanStatus">
								<input type="number" class="form-control shadow-z1 input-sm" fcsa-number=" {prepend:'Rp. '}" ng-model="inputKurs.kurs" ng-if="btnSimpanStatus == false" disabled>
							</td>
							<td style="width:2%; white-space: nowrap; text - align: center; vertical-align:middle">
								<button ripple="" ng-click="masterKurs('lg')" class="mr btn btn-success btn-circle btn-xs"><em class="fa fa-search"></em>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12" align="center" ng-bind-html="messageSuccess" style="color:green"></div>
			<div class="col-xs-12" align="center" ng-bind-html="messageError" style="color:red "></div>
		</div>
		<br/>
	</div>
	<div class="modal-footer">
		<button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-labeled btn-sm " ng-click="cancel()">
			<span class="btn-label "><em class="fa fa-chevron-left "></em></span>
			<span translate="">Tutup</span>
		</button>
		<button ng-show="btnSimpanStatus" ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-sm" ng-click="ok()">
			<span translate="promise.procurement.panitia.pembukaanpenawaran.tambah.SIMPAN"></span>
		</button>
	</div>
</script>
<script type="text/ng-template" id="/pembukaanPenawaranDetail.html">
    <div class = "modal-header"> 
		<button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">× </button>
		<h3 class="modal-title"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.modal.DETAIL"></span></h3>
	</div>
    <div class="panel-body">
        <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-user">&nbsp;</em>
            <span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLKEHADIRAN"></span>
        </h4> 
		<div class="row">
			<div class="col-xs-12">
        	<div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong></div>
				<table class="table table-hover table-condensed table-striped bg-white">
				<thead>
                	<tr style="font-weight: bold">
                    	<th scope="col"style="width:2%; text-align:center; vertical-align:middle"><span translate="promise.procurement.inisialisasi.tambahbumn.TBLNO"></span></th>
                        <th scope="col"style="width:20%; text-align:lef; vertical-align:middle"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLPENYEDIA"></span>
                        </th>
                        <th scope="col"style="width:10%; text-align:lef; vertical-align:middle"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLEMAIL"></span>
                        </th>
                        <th scope="col"style="width:15%; text-align:left; vertical-align:middle"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLTELP"></span>
                        </th>
                        <th scope="col"style="width:7%; text-align:right; vertical-align:middle"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLDEV"></span>
                        </th>
                        <th scope="col"style="width:10%; text-align:center; vertical-align:middle"><span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLHADIR"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
					<tr ng-repeat="dhvl in data2">
                    	<td style="text-align:center; vertical-align:middle">
                                        {{$index+1}}
                        </td>
                                    <td style="text-align:lef; vertical-align:middle">
                                        {{dhvl.vendor.nama}}
                                    </td>
                                    <td style="text-align:left; vertical-align:middle">
                                        {{dhvl.vendor.email}}
                                    </td>
                                    <td style="text-align:left; vertical-align:middle">
                                        {{dhvl.vendor.nomorTelpon}}
                                    </td>
                                    <td style="text-align:right; vertical-align:middle">
                                        <strong> {{ dhvl.deviasi |number : 2}}</strong>
                                    </td>
                            <td style="text-align:center; vertical-align:middle">
                            	<div class="checkbox c-checkbox c-checkbox-rounded">
                                	<label>
                                    	<input type="checkbox" checked="checked" ng-model="dhvl.centang" />
                                        <span class="fa fa-check"></span>
                                    </label>
								</div>
                        	</td>
                    	</tr>
                </tbody>
			</table>
		</div>
		<div class="col-xs-12" align="center" ng-bind-html="messageSuccess" style="color:green"></div>
		<div class="col-xs-12" align="center" ng-bind-html="messageError" style="color:red "></div>
	</div>
	<br/>
	</div>
	<div class="modal-footer">        
		<button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-labeled btn-sm " ng-click="cancel()">
			<span class="btn-label "><em class="fa fa-chevron-left "></em></span>
			<span translate="">Cancel</span>
		</button>
		<button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-sm" ng-click="ok()">
			<span translate="promise.procurement.panitia.pembukaanpenawaran.tambah.SIMPAN"></span>
		</button>
	</div>
</script>