<div class="app-view-header"> <span translate="promise.procurement.master.item.judul"></span>
	<!-- <small><span translate="promise.procurement.master.item.KETERANGAN"></span></small> -->
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="ItemIndexController as vm ">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
        <em class="fa fa-tasks"></em>
        <span translate="promise.procurement.master.item.subjudul"></span>
        <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
            <em class="fa fa-chevron-circle-down"></em>
        </a>
    </h4>
	<div class="panel-body collapse in">
		<div class="text-right pr">
			<button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-refresh" ng-click="syncronize()"> 
				<span translate="template.button.synchronize"></span>
			</button>
		</div>
		<br />
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true"> <strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px" /></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col"> <span translate="template.tabel.nomor"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.barang"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.kode"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.deskripsi"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.satuan"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.tipe_item"></span>
						</th>
						<th scope="col"> <span translate="promise.procurement.master.item.list.grup_item"></span>
						</th>
						<!-- <th scope="col"> <span translate="template.tabel.aksi"></span>
						</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.itemList">
						<td class="text-center">{{ $index+1 }}</td>
						<td ng-bind="item.nama"></td>
						<td ng-bind="item.kode"></td>
						<td ng-bind="item.deskripsi"></td>
						<td ng-bind="item.satuanId.nama"></td>
						<td ng-bind="item.itemType.nama"></td>
						<td ng-bind="item.itemGroupId.nama"></td>
						<!-- <td class="text-center">
							<div>
								<button type="button" ng-class="'bg-' + app.theme.name" class="mr btn btn-icon-sm" ng-click="edit(item)"> <em class="fa fa-pencil fa-lg"></em>
								</button>
								<button type="button" class="mr btn btn-danger btn-icon-sm" ng-click="del(item.id)"> <em class="fa fa-trash fa-lg"></em>
								</button>
							</div>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--END CONTROLLER-->