<div class="app-view-header"> <span translate="promise.procurement.master.emailnotifikasi.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="EmailNotificationController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
        <em class="fa fa-tasks"></em>
        <span translate="promise.procurement.master.emailnotifikasi.subjudul"></span>
        <a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
            <em class="fa fa-chevron-circle-down"></em>
        </a>
    </h4>
	<div class="panel-body collapse in">
		<div class="col-md-12">
			<div class="col-sm-6">
				<div class="text-left"> <span translate="promise.procurement.master.emailnotifikasi.list.email_status">
                    </span>
					<label class="switch switch-lg switch switch-success">
						<input type="checkbox" ng-model="vm.emailStatus.statusAktif" checked="vm.emailStatus.statusAktif == true" ng-change="statusUpdate()" /> <span><small style="color:white;">&nbsp; ON </small></span>
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-right">
					<button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-add" ng-click="add()"> <span translate=template.button.tambah></span>
					</button>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true"> <strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0" /></em></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col"><span translate="template.tabel.nomor"></span>
						</th>
						<th scope="col"><span translate="promise.procurement.master.emailnotifikasi.list.nama"></span>
						</th>
						<th scope="col"><span translate="promise.procurement.master.emailnotifikasi.list.role"></span>
						</th>
						<th scope="col"><span translate="promise.procurement.master.emailnotifikasi.list.tahapan"></span>
						</th>
						<th scope="col"><span translate="promise.procurement.master.emailnotifikasi.list.notif_tgl_sebelum"></span>
						</th>
						<th scope="col"><span translate="promise.procurement.master.emailnotifikasi.list.notif_tgl_sesudah"></span>
						</th>
						<th scope="col"><span translate="template.tabel.aksi"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emailNotification in vm.emailNotificationList">
						<td>{{ $index+1 }}</td>
						<td ng-bind="emailNotification.nama"></td>
						<td ng-bind="emailNotification.role.nama"></td>
						<td ng-bind="emailNotification.tahapan.nama"></td>
						<td class="text-right" ng-bind="emailNotification.notifikasiTglSebelum"></td>
						<td class="text-right" ng-bind="emailNotification.notifikasiTglSesudah"></td>
						<td class="text-center">
							<button type="button" ng-class="'bg-' + app.theme.name" class="btn btn-primary btn-sm btn-edit" ng-click="edit(emailNotification)"></button>
							<button type="button" class="btn btn-danger btn-sm btn-delete" ng-click="del(emailNotification)"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--END CONTROLLER-->