<!--
SPESIFIC VIEW OF THE FIRST DETAIL EVALUASI HARGA AUCTION MENU
---------------------- START CONTROLLER ---------------------
-->

<div class="app-view-header">
    <span translate="promise.procurement.panitia.evaluasiharga.JUDUL">Evaluasi Harga</span>
    <small><span translate="promise.procurement.panitia.evaluasiharga.view.AUCTION"></span></small>
    <small><span translate="promise.procurement.panitia.evaluasiharga.view.TOTAL"></span></small>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
<div ng-controller="EvaluasiHargaTotalViewSimpleController as form">
    <form method="post" action="#" novalidate="" class="form-horizontal">
        <div id="evaluasiHarga">

            <!----------------------------------------------- Table Ke 1 ----------------------------------------------->
            <!----------------------------------------------- Table Ke 2 ----------------------------------------------->
            <!----------------------------------------------- Table Ke 3 ----------------------------------------------->
            <promise-view-data-pengadaan pengadaan-id=pengadaanId></promise-view-data-pengadaan>


            <!----------------------------------------------- Table Ke 4 ----------------------------------------------->
            <div class="panel panel-primary">
                <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-barcode">&nbsp;</em><span translate="promise.procurement.panitia.evaluasiharga.view.DATAPENYEDIA">Data Penyedia Barang/Jasa</span></h4>
                <div class="panel-body">
                    <br/>
                    <div class="col-md-12">
                        <div align="center" ng-if="loading == true"><strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0"/></em></strong></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-bordered">
                                <thead>
                                    <tr style="background-color:#EEEEEE">
                                        <th scope="col"style="text-align:center" width="50px"><span translate="promise.procurement.panitia.evaluasiharga.view.NOMOR">Nomor</span>
                                        </th>
                                        <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NAMAPENYEDIA">Nama Penyedia Barang/Jasa</span>
                                        </th>
                                        <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.ALAMAT">Alamat</span>
                                            <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.TELEPON">Telepon</span>
                                            </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dp in dataPenyediaList">
                                        <td style="text-align:center">{{ $index+1 }}</td>
                                        <td style="text-align:left">{{dp.vendor.nama}}</td>
                                        <td style="text-align:left">{{dp.vendor.alamat}}</td>
                                        <td style="text-align:center">{{dp.vendor.nomorTelpon}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------------------------------- Table Ke 4 ----------------------------------------------->
            <!--<div class="panel panel-primary" ng-if="sistemEvaluasiPenawaranId==2">-->
            <div class="panel panel-primary">
                <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-coffee">&nbsp;</em><span translate="promise.procurement.panitia.evaluasiharga.view.NILAIEVALUASI">Nilai Evaluasi</span></h4>
                <div class="panel-body">
                    <br/>
                    <div class="col-md-12">
                        <div align="center" ng-if="loading == true"><strong><em>Loading...<img src="app/img/loading.gif" width="20px" border="0"/></em></strong></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-bordered">
                                <thead>
                                    <tr style="background-color:#EEEEEE">
                                        <th scope="col"style="text-align:center" width="50px"><span translate="promise.procurement.panitia.evaluasiharga.view.NOMOR">Nomor</span>
                                        </th>
                                        <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NAMAPENYEDIA">Nama Penyedia Barang/Jasa</span>
                                        </th>
                                        <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.HARGA">Harga</span>
                                        </th>
                                        <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.HARGA">Harga</span> (Rp.)
                                        </th>
                                        <th scope="col"style="text-align:center" width="50px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ev in dataPenawaranAuction | orderBy:'nilaiPenawaranDenganKurs'">
                                        <td style="text-align:center">
                                            <span ng-if="$index>0">{{ $index+1 }}</span>
                                            <strong ng-if="$index==0" style="font-size:14px">{{ $index+1 }}</strong>
                                        </td>
                                        <td style="text-align:left">
                                            <span ng-if="$index>0">{{ev.pesertaAuction.vendor.nama}}</span>
                                            <strong ng-if="$index==0" style="font-size:14px">{{ev.pesertaAuction.vendor.nama}}</strong>
                                        </td>
                                        <td style="text-align:right">
                                            <span ng-if="$index>0">{{ev.nilaiPenawaran | number :2}} {{ev.mataUang.kode}}</span>
                                            <strong ng-if="$index==0" class="text-success" style="font-size:14px">{{ev.nilaiPenawaran | number :2}} {{ev.mataUang.kode}}</strong>
                                        </td>
                                        <td style="text-align:right">
                                            <span ng-if="$index>0">{{ ev.nilaiPenawaranDenganKurs | number :2}} IDR</span>
                                            <strong ng-if="$index==0" class="text-success" style="font-size:14px">{{ev.nilaiPenawaranDenganKurs | number :2}} IDR</strong>
                                        </td>
                                        <td style="text-align:center"><em class="fa fa-flag fa-success" ng-if="$index==0"></em></td>
                                    </tr>
                                    <tr ng-hide="dataPenawaranAuction.length">
                                        <td colspan="4" align="center">Belum ada Auction</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>

        <!----------------------------------------------- Table Ke 5 ----------------------------------------------->
        <script type="text/ng-template" id="/history_penawaran_harga.html">
            <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
            <div class="modal-header">
                <h3 id="myModalLabel" class="modal-title" style="text-align:center">History Penawaran Harga</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Kode Vendor</label>
                    <div class="col-sm-8">
                        <label>: {{kodeVendor}}</label>
                    </div>
                    <label class="col-sm-4 control-label">Nama Vendor</label>
                    <div class="col-sm-8">
                        <label>: {{namaVendor}}</label>
                    </div>
                    <label class="col-sm-4 control-label">Alamat</label>
                    <div class="col-sm-8">
                        <label>: {{alamatVendor}}</label>
                    </div>
                    <label class="col-sm-4 control-label">Telepon</label>
                    <div class="col-sm-8">
                        <label>: {{telVendor}}</label>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="col-xs-12">
                    <table ng-table="penawaranAuctionByVendorList" class="table table-hovertable-condensed table-striped bg-white">
                        <thead>
                            <tr style="background-color:#EEEEEE">
                                <th scope="col"style="text-align:center" width="20px"><span translate="promise.procurement.panitia.evaluasiharga.view.NOMOR">Nomor</span>
                                </th>
                                <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.TGLPEMASUKANPENAWAN">Tanggal Pemasukan Penawaran</span>
                                </th>
                                <th scope="col"style="text-align:center" width="500px"><span translate="promise.procurement.panitia.evaluasiharga.view.NILAIPENAWARAN">Nilai Penawaran</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pa in $data">
                                <td style="text-align:center">{{ $index+1 }}</td>
                                <td style="text-align:center">{{ pa.created | date: "dd/MM/yy HH:mm" }}</td>
                                <td style="text-align:right">{{ pa.nilaiPenawaran | number: 2 }} {{pa.mataUang.kode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="modal-footer">
                <button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-labeled btn-sm " ng-click="cancel()">
                    <span class="btn-label "><em class="fa fa-chevron-left "></em></span>
                    <span translate="promise.procurement.panitia.evaluasiharga.btn.KEMBALI">Kembali</span>
                </button>
            </div>
        </script>



        <div align="center">
            <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="diskualifikasi()">
                <span class="btn-label"><em class="fa fa-check-square-o"></em></span>
                <span translate="promise.procurement.panitia.evaluasiharga.btn.DISKUALIFIKASI"></span>
            </button>
            <button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="historyAuction()">
                <span class="btn-label"><em class="fa fa-bookmark"></em></span>
                <span translate="promise.procurement.panitia.evaluasiharga.btn.HISTORIAUCTION"></span>
            </button>
            <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="newSesiAuction()">
                <span class="btn-label"><em class="fa fa-plus"></em></span>
                <span translate="promise.procurement.panitia.evaluasiharga.btn.AUCTIONBARU"></span>
            </button>
            <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="getLastPenawaran()">
                <span class="btn-label"><em class="fa fa-plus"></em></span> Refresh
            </button>
            <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="goKurs()">
                <span class="btn-label"><em class="fa fa-dollar"></em></span> Kurs
            </button>           
            
        </div>
        <br/>
        <div align="center">
            <button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="back()"><em class="fa fa-arrow-circle-left">&nbsp;</em>
                <span translate="template.button.kembali"></span>
            </button>
            <button ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="printDiv('evaluasiHarga')" ng-show="view==true && detilPengadaan.tahapanPengadaan.tahapan.id>14"><em class="fa fa-print">&nbsp;</em>
                <span translate="promise.procurement.panitia.pengambilandokumen.view.btn.PRINT"></span>
            </button>
            <button ng-if="viewAja!=1" ng-class="'bg-' + app.theme.name" type="button" class="mr btn btn-labeled btn-success" ng-click="saveData()" ng-show="showBtnSaveData">
                <span translate="template.button.simpan"></span>&nbsp;<em class="fa fa-sign-in"></em>
            </button>
        </div>
        <br>
    </form>
</div>
<script type="text/ng-template" id="/inputKurs.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">× </button>
        <h3 id="myModalLabel" class="modal-title">
            <span translate="promise.procurement.panitia.pembukaanpenawaran.total.modal.KURSTERHADAP"></span></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12" align="center" ng-if="loading==true"> <strong> <em> Loading... </em><img src="app/img/loading.gif" width="20px" border="0 "/></strong></div>
            <div class="col-xs-12">
                <table class="table table-hovertable-condensed table-striped bg-white">
                    <thead>
                        <tr style="font-weight:bold">
                            <th scope="col"style="width:2%; text-align:center">
                                <span translate="promise.procurement.inisialisasi.tambahbumn.TBLNO "></span>
                            </th>
                            <th scope="col"style="width:20%; text-align:left">
                                <span translate="promise.procurement.panitia.pembukaanpenawaran.total.list.TBLNMKURS"></span>
                            </th>
                            <th scope="col"style="width:20%; text-align:center">KURS</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="inputKurs in inputKursList | limitTo: 10">
                            <td style="text-align: center;vertical-align:middle">
                                {{$index+1}}
                            </td>
                            <td style="text-align:left; vertical-align:middle">
                                {{inputKurs.nama +' - ' + inputKurs.kode}}
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                <input promise-numbers-only type="number" class="form-control shadow-z1 input-sm" fcsa-number="{prepend:'Rp. '}" ng-model="inputKurs.kurs">
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12" align="center" ng-bind-html="messageSuccess" style="color:green"></div>
            <div class="col-xs-12" align="center" ng-bind-html="messageError" style="color:red "></div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-labeled btn-sm " ng-click="cancel()">
            <span class="btn-label "><em class="fa fa-chevron-left "></em></span>
            <span translate="">Tutup</span>
        </button>
        <button ng-class="'bg-'+app.theme.name" type="button" ripple="" class="mr btn btn-sm" ng-click="ok()">
            <span translate="template.button.simpan"></span>
        </button>
    </div>
</script>