<div class="app-view-header">
	<span translate="promise.procurement.master.approvalPath.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary"
	ng-controller="ApprovalPathIndexController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
		<em class="fa fa-tasks"></em> <span
			translate="promise.procurement.master.approvalPath.subjudul"></span> <a
			class="pull-right btn-collapse" data-toggle="collapse"
			data-parent=".panel" href=".panel-body" aria-expanded="true"
			aria-controls="panel-body"> <em class="fa fa-chevron-circle-down"></em>
		</a>
	</h4>
	<div class="panel-body collapse in">
		<div class="text-right">
			<button ng-class="'bg-' + app.theme.name" type="button"
				class="btn btn-primary btn-add" ng-click="add()" tooltip="Add Approval Path">
				<span translate="template.button.tambah"></span>
			</button>
		</div>
		<br />
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true">
				<strong><em>Loading...<img src="app/img/loading.gif" width="20px"
						border="0" /></em></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col"><span translate="template.tabel.nomor"></span></th>
						<th scope="col"><span translate="promise.procurement.master.approvalPath.list.cabang"></span></th>
						<th scope="col"><span translate="promise.procurement.master.approvalPath.list.pathid"></span></th>
						<th scope="col"><span translate="promise.procurement.master.approvalPath.list.pathname"></span></th>
						<th scope="col"><span translate="template.tabel.aksi"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="approvalPath in vm.approvalPathList">
						<td class="text-center">{{ $index+1 }}</td>
						<td ng-bind="approvalPath.organisasi.nama"></td>
						<td ng-bind="approvalPath.approvalPathId"></td>
						<td ng-bind="approvalPath.approvalPathName"></td>
						<td class="text-center">
							<button type="button" ng-class="'bg-' + app.theme.name" class="btn btn-primary btn-sm btn-edit" ng-click="edit(approvalPath)" tooltip="Edit"></button>
							<button type="button" class="btn btn-danger btn-sm btn-delete" ng-click="del(approvalPath.id)" tooltip="Delete	"></button> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--END CONTROLLER-->