<div class="app-view-header">
  Dashboard Default
</div>
<div ng-controller="DashboardDefaultController as vm" class="row custom-col-dashboard">
	<div class="panel-body collapse in">
		<fieldset class="col-lg-8" style="border: 1px solid;background-color: white;">
			<div class="col-lg-12">
				<legend>Barang Kurang dari Stok Minimal</legend>
			</div>
	   		<div class="row">
			    <div class="col-md-12" >
			    	<div class="text-center" ng-if="vm.loading == true"> <strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px" /></strong></div>
			    	<table  class="table table-striped">
						<thead>
							<tr style="font-weight: bold; background-color:#EEEEEE">
								<th scope="col"> <span translate="barang.list.nomor"></span></th>
								<th scope="col" style="text-align:left"> <span translate="barang.list.namabarang"></span></th>
								<th scope="col" style="text-align:left"> <span translate="barang.list.kodebarang"></span></th>
								<th scope="col" style="text-align:right"> <span translate="barang.list.harga"></span></th>
								<th scope="col" style="text-align:right"> <span translate="barang.list.stok"></span></th>
								<th scope="col" style="text-align:right"> <span translate="barang.list.stokminimal"></span></th>
								<th scope="col" style="text-align:left"> <span translate="barang.list.jenismobil"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="barang in vm.barangList">
								<td class="text-center">{{ $index+1 }}</td>
								<td ng-bind="barang.nama"></td>
								<td ng-bind="barang.kode"></td>
								<td style="text-align:right" ng-bind="(barang.harga | currency : '')"></td>
								<td style="text-align:right" ng-if="barang.jumlah <= barang.stokMinimal" bgcolor="#e6e6e6"><strong><font color="red">{{barang.jumlah}}</font></strong></td>
								<td style="text-align:right" ng-if="barang.jumlah > barang.stokMinimal">{{barang.jumlah}}</td>
								<td style="text-align:right" ng-bind="barang.stokMinimal"></td>
								<td ng-bind="barang.mobil.nama"></td>
							</tr>
						</tbody>
					</table>
			    </div>
	    	</div>
	    </fieldset>
    </div>
</div>
