<link rel="stylesheet" href="app/views/promise/procurement/portal/portal-css/custom-styles.css">


<link rel="stylesheet" href="app/views/promise/procurement/portal/portal-css/stylesheet.css">
                    <wrap-owlcarousel class="owl-carousel"   
                        data-options="{autoPlay: 5000, stopOnHover: true,  
                        slideSpeed : 300, paginationSpeed : 400, singleItem : true, dots:true, items : 5}">
                        <div class="row_items">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a class="product-image" ui-sref="app.productDetail({productName:'KacangGaruda'})">
                                            <img src="app/img/product/garing-garuda.jpg" alt="Kacang Garuda"/>
                                        </a>
                                    </div><!--images-container-->
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a class="product" ui-sref="app.productDetail({productName:'KacangGaruda'})">QNP STEAM TURBIN</a>
                                            <a class="supplier" ui-sref="app.companyDetail({companyName:'GarudaFood'})"><strong>PT.QNP INDONESIA</strong></a>
                                            <a class="supplier">Jakarta, Indonesia</a>
                                        </h2>
                                        <!-- rating -->
                                        <div ng-controller="MyRating" class="ratings">
                                            <div ng-init="xx = 5" class="text-lg">
                                              <rating ng-model="xx" readonly="true" state-on="'glyphicon-star text-warning'" state-off="'glyphicon-star-empty'"></rating>
                                            </div>
                                        </div>
                                        <!-- / rating -->
                                        <div class="price-box box-special">
                                            <p class="special-price"><span class="price"></span></p>
                                            <p class="old-price"><span class="price"></span></p>
                                        </div>
                                        <div class="text-center m-b">
                                            <a ui-sref="app.companyDetail({companyName:'GarudaFood'})" class="btn btn-sm btn-primary btn-addon">
                                                <em class="fa fa-chevron-right pull-right"></em>Contact Supplier
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- item-inner -->
                            </div> <!-- item -->
                        </div>
                        <div class="row_items">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a class="product-image" ui-sref="app.productDetail({productName:'Chocholatos'})">
                                            <!--<img class="img2" src="app/img/product/chocholatos.png" alt="Chocholatos" />-->
                                            <img src="app/img/product/chocolatosheader2.jpg" alt="Chocholatos" />
                                        </a>
                                    </div><!--images-container-->
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a class="product" ui-sref="app.productDetail({productName:'Chocholatos'})">CYCLONE TURBINE VENTILATOR</a>
                                            <a class="supplier" ui-sref="app.companyDetail({companyName:'GarudaFood'})"><strong>CV. Bangun Tujuh Cahaya</strong></a>
                                            <a class="supplier">Sidoarjo, East Java</a>
                                        </h2>
                                        <!-- rating -->
                                        <div ng-controller="MyRating" class="ratings">
                                            <div ng-init="xx = 5" class="text-lg">
                                              <rating ng-model="xx" readonly="true" state-on="'glyphicon-star text-warning'" state-off="'glyphicon-star-empty'"></rating>
                                            </div>
                                        </div>
                                        <!-- / rating -->
                                        <div class="price-box box-special">
                                            <p class="special-price"><span class="price"></span></p>
                                            <p class="old-price"><span class="price"></span></p>
                                        </div>
                                        <div class="text-center m-b">
                                            <a ui-sref="app.companyDetail({companyName:'GarudaFood'})" class="btn btn-sm btn-primary btn-addon">
                                                <em class="fa fa-chevron-right pull-right"></em>Contact Supplier
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- item-inner -->
                            </div> <!-- item -->
                        </div>

                        <div class="row_items">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a class="product-image" ui-sref="app.productDetail({productName:'PilusGaruda'})">
                                            <!--<img class="img2" src="app/img/product/snack_pilus.jpg" alt="Pilus Garuda"/>-->
                                            <img src="app/img/product/Snack_Pilus_Original_95gr.jpg" alt="Pilus Garuda"/>
                                        </a>
                                    </div><!--images-container-->
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a class="product" ui-sref="app.productDetail({productName:'PilusGaruda'})">STEAM TURBIN GENERATOR</a>
                                            <a class="supplier" ui-sref="app.companyDetail({companyName:'GarudaFood'})"><strong>PT.QNP INDONESIA</strong></a>
                                            <a class="supplier">Jakarta, Indonesia</a>
                                        </h2>
                                        <!-- rating -->
                                        <div ng-controller="MyRating" class="ratings">
                                            <div ng-init="xx = 5" class="text-lg">
                                              <rating ng-model="xx" readonly="true" state-on="'glyphicon-star text-warning'" state-off="'glyphicon-star-empty'"></rating>
                                            </div>
                                        </div>
                                        <!-- / rating -->
                                        <div class="price-box box-special">
                                            <p class="special-price"><span class="price"></span></p>
                                            <p class="old-price"><span class="price"></span></p>
                                        </div>
                                        <div class="text-center m-b">
                                            <a ui-sref="app.companyDetail({companyName:'GarudaFood'})" class="btn btn-sm btn-primary btn-addon">
                                                <em class="fa fa-chevron-right pull-right"></em>Contact Supplier
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- item-inner -->
                            </div> <!-- item -->
                        </div>
                        <div class="row_items">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a class="product-image" ui-sref="app.productDetail({productName:'LeoKeripikKentang'})">
                                            <!--<img class="img2" src="app/img/product/apta.png"/>-->
                                            <img src="app/img/product/apta.png" alt="LeoKeripikKentang"/>
                                        </a>
                                    </div><!--images-container-->
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a class="product" ui-sref="app.productDetail({productName:'LeoKeripikKentang'})">STEAM TURBIN CONDENSING</a>
                                            <a class="supplier" ui-sref="app.companyDetail({companyName:'GarudaFood'})"><strong>PT.QNP INDONESIA</strong></a>
                                            <a class="supplier">Jakarta, Indonesia</a>
                                        </h2>
                                        <!-- rating -->
                                        <div ng-controller="MyRating" class="ratings">
                                            <div ng-init="xx = 5" class="text-lg">
                                              <rating ng-model="xx" readonly="true" state-on="'glyphicon-star text-warning'" state-off="'glyphicon-star-empty'"></rating>
                                            </div>
                                        </div>
                                        <!-- / rating -->
                                        <div class="price-box box-special">
                                            <p class="special-price"><span class="price"></span></p>
                                            <p class="old-price"><span class="price"></span></p>
                                        </div>
                                        <div class="text-center m-b">
                                            <a ui-sref="app.companyDetail({companyName:'GarudaFood'})" class="btn btn-sm btn-primary btn-addon">
                                                <em class="fa fa-chevron-right pull-right"></em>Contact Supplier
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- item-inner -->
                            </div> <!-- item -->
                        </div>
                        <div class="row_items">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a class="product-image" ui-sref="app.productDetail({productName:'OkkyJellyDrink'})">
                                            <!--<img class="img2" src="app/img/product/Jenis Alat Berat.jpg"/>-->
                                            <img src="app/img/product/okky_jelly_sirsak.jpg" alt="OkkyJellyDrink"/>
                                        </a>
                                    </div><!--images-container-->
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a class="product" ui-sref="app.productDetail({productName:'OkkyJellyDrink'})">MOLEN</a>
                                            <a class="supplier" ui-sref="app.companyDetail({companyName:'GarudaFood'})"><strong>PT Eventus</strong></a>
                                            <a class="supplier">Pati, Central Java</a>
                                        </h2>
                                        <!-- rating -->
                                        <div ng-controller="MyRating" class="ratings">
                                            <div ng-init="xx = 5" class="text-lg">
                                              <rating ng-model="xx" readonly="true" state-on="'glyphicon-star text-warning'" state-off="'glyphicon-star-empty'"></rating>
                                            </div>
                                        </div>
                                        <!-- / rating -->
                                        <div class="price-box box-special">
                                            <p class="special-price"><span class="price"></span></p>
                                            <p class="old-price"><span class="price"></span></p>
                                        </div>
                                        <div class="text-center m-b">
                                            <a ui-sref="app.companyDetail({companyName:'GarudaFood'})" class="btn btn-sm btn-primary btn-addon">
                                                <em class="fa fa-chevron-right pull-right"></em>Contact Supplier
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- item-inner -->
                            </div> <!-- item -->
                        </div>
                    </wrap-owlcarousel>