<div class="app-view-header">	<span translate="promise.procurement.master.matauang.judul"></span>
</div>
<!--START CONTROLLER-->
<div class="panel panel-primary" ng-controller="MataUangViewController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-tasks"></em>
			<span ng-if="vm.toDo=='add'" translate="promise.procurement.master.matauang.view.subjudul_tambah"></span>
			<span ng-if="vm.toDo=='edit'" translate="promise.procurement.master.matauang.view.subjudul_ubah"></span>
			<a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
					<em class="fa fa-chevron-circle-down"></em>
			</a>
	</h4>
	<div class="panel-body collapse in">
		<div class="text-center" ng-if="loading == true">	<strong><em>Loading...</em><img src="app/img/loading.gif" width="20px"></strong>
		</div>
		<form method="post" action="#" novalidate="" class="form-horizontal" ng-class="{'submitted' : vm.submitted}" name="formMataUang">
			<div class="form-group">
				<label for="input-id-1" class="col-md-4 control-label required"><span translate="promise.procurement.master.matauang.list.kode"></span>
				</label>
				<div class="col-md-4">
					<input id="input-id-1" name="kodeMataUang" promise-alphanumeric-only type="text" maxlength="120" class="form-control" ng-model="vm.mataUang.kode" required ng-blur="delValidation($event)" />
					<div class="input-error" ng-show="(vm.submitted && formMataUang.kodeMataUang.$invalid)">
						<p ng-show="formMataUang.kodeMataUang.$error.required" translate="template.error.field_kosong"></p>
						<p ng-show="!formMataUang.kodeMataUang.$error.required && formMataUang.kodeMataUang.$error.kodeMataUang" translate="promise.procurement.master.matauang.error.kode_sama"></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="input-id-2" class="col-md-4 control-label required"><span translate="promise.procurement.master.matauang.view.nama"></span>
				</label>
				<div class="col-md-4">
					<input name="namaMataUang" id="input-id-2" promise-alphanumeric-only type="text" class="form-control" ng-model="vm.mataUang.nama" maxlength="120" required ng-blur="delValidation($event)" />
					<div class="input-error" ng-show="(vm.submitted && formMataUang.namaMataUang.$invalid)">
						<p ng-show="formMataUang.namaMataUang.$error.required" translate="template.error.field_kosong"></p>
						<p ng-show="!formMataUang.namaMataUang.$error.required && formMataUang.namaMataUang.$error.namaMataUang" translate="promise.procurement.master.matauang.error.nama_sama"></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="input-id-3" class="col-md-4 control-label required"><span translate="promise.procurement.master.matauang.list.kurs"></span>
				</label>
				<div class="col-md-4">
					<input name="kursMataUang" id="input-id-3" promise-currency-blur class="form-control" ng-model="vm.mataUang.kurs" required ng-blur="delValidation($event)" ng-change="validateKurs()" />
					<div class="input-error" ng-show="(vm.submitted && (formMataUang.kursMataUang.$invalid))">
						<p ng-show="formMataUang.kursMataUang.$error.required " translate="template.error.field_kosong"></p>
						<p ng-show="!formMataUang.kursMataUang.$error.required && formMataUang.kursMataUang.$error.kursMataUang" translate="promise.procurement.master.matauang.error.kurs_invalid"></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type="button" ripple="" class="btn btn-secondary" ng-click="back()">	
						<span translate="template.button.kembali"></span>
					</button>
					<button type="button" ripple="" class="btn btn-primary" ng-click="save(formMataUang.$valid)">	
						<span translate="template.button.simpan"></span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>