<div class="app-view-header">
    <span translate="">Hasil Penetapan Pengadaan</span>
</div>
<div class="panel panel-primary" ng-controller="HasilPenetapanController">
    <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-tasks">&nbsp;</em><span translate="">Daftar Pengadaan </span></h4>
    <div class="panel-body">
        <br/>
        <div class="col-md-12">
			<div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px"></strong>
			</div>
			<table datatable="ng" class="row-border hover table-striped">
				<thead>
					<tr>
						<th scope="col"style="text-align:left">NO</th>
						<th scope="col"style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.index.NOMOR">Nomor Pengadaan</span>
						</th>
						<th scope="col"style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.index.NAMA">Nama Pengadaan</span>
						</th>

						<th scope="col"style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.index.CREATEDATE">Tanggal</span>
						</th>
						<th scope="col"style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.index.POSISI">Tahapan</span>
						</th>
						<th scope="col"style="text-align:center"><span translate="promise.procurement.panitia.jadwalpengadaan.index.AKSI">Aksi</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pengadaan in pengadaanList">
						<td style="text-align:centor;width=5px">{{ ($index + 1) }}</td>
						<td style="text-align:left">{{ pengadaan.nomorNotaDinas }}</td>
						<td style="text-align:left">{{ pengadaan.namaPengadaan }}</td>
						<td style="text-align:left">{{ pengadaan.tanggalNotaDinas | date:'dd/MM/yyyy' }}</td>
						<td style="text-align:left"><a href="">{{ pengadaan.tahapanPengadaan.tahapan.nama }}</a>
						</td>
						<td style="white-space: nowrap; text-align:center">
							<div>
								<button ng-if="pengadaan.tahapanPengadaan.id!=1" type="button" class="mr btn btn-primary btn-circle btn-xs" ng-click="getViewDetil(pengadaan)">
									<em class="fa fa-search"></em>
								</button>
								<button ng-if="pengadaan.tahapanPengadaan.id==1" type="button" class="mr btn btn-success btn-circle btn-xs" ng-click="getViewDetil(pengadaan)">
									<em class="fa fa-pencil fa-lg"></em>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>