<div class="app-view-header"> <span translate="promise.procurement.master.approvaltahapan.judul"></span>
	<small> <span translate="promise.procurement.master.approvaltahapan.keterangan"></span></small>
</div>
<div class="panel panel-primary" ng-controller="ApprovalTahapanIndexController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
			<em class="fa fa-tasks"></em>
			<span translate="promise.procurement.master.approvaltahapan.subjudul"></span>
			<a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
					<em class="fa fa-chevron-circle-down"></em>
			</a>
	</h4>
	<div class="panel-body collapse in">
		<div class="text-right pr">
			<button ng-class="'bg-' + app.theme.name" type="button" class="btn btn-primary btn-add" ng-click="add()">	<span translate="template.button.tambah"></span>
			</button>
		</div>
		<br />
		<div class="col-md-12">
			<div>
				<div class="text-center" ng-if="vm.loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px" /></strong></div>
				<table datatable="ng" class="row-border hover table-striped">
					<thead>
						<tr>
							<th scope="col"><span translate="template.tabel.nomor"></span>
							</th>
							
							<th scope="col"><span translate="promise.procurement.master.approvaltahapan.list.tahapan"></span>
							</th>
							<th scope="col"><span translate="promise.procurement.master.approvaltahapan.list.unit"></span>
							</th>
							 <th scope="col"><span translate="promise.procurement.master.approvaltahapan.list.organisasi"></span>
							</th>
							<th scope="col"><span translate="template.tabel.aksi"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="approvalTahapan in vm.approvalTahapanDTOList">
							<td class="text-center">{{ $index+1 }}</td>						
							<td ng-bind="approvalTahapan.tahapan.nama"></td>
							<td ng-bind="approvalTahapan.unit.nama"></td>
							<td>{{approvalTahapan.organisasi.nama}}</td> 
							<td class="text-center">
								<div>
									<button ng-if="approvalTahapan.id > 0" type="button" ng-class="'bg-' + app.theme.name" class="btn btn-primary btn-sm btn-edit" ng-click="edit(approvalTahapan)"></button>
									<button ng-if="approvalTahapan.id > 0" type="button" class="btn btn-danger btn-sm btn-delete" ng-click="del(approvalTahapan)"></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>