<div class="app-view-header">	<span translate="promise.procurement.master.role.judul"></span>
</div>
<div ng-controller="RoleViewController as vm" class="panel panel-primary">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
				<em class="fa fa-tasks"></em>
				<span ng-if="vm.toDo == 'Add'" translate="promise.procurement.master.role.view.subjudul_tambah"></span>
				<span ng-if="vm.toDo == 'Edit'" translate="promise.procurement.master.role.view.subjudul_ubah"></span>
				<a class="pull-right btn-collapse" data-toggle="collapse" data-parent=".panel" href=".panel-body" aria-expanded="true" aria-controls="panel-body">
						<em class="fa fa-chevron-circle-down"></em>
				</a>
		</h4>
	<div class="panel-body collapse in">
		<div class="text-center" ng-if="vm.loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px"></strong>
		</div>
		<form method="post" name="formRole" action="#" novalidate="" class="form-horizontal" ng-class="{'submitted' : vm.submitted}">
			<div class="form-group">
				<label class="col-sm-4 control-label required">	<span translate="promise.procurement.master.role.view.nama"></span>
				</label>
				<div class="col-sm-4">
					<input id="input-id-1" type="text" maxlength="120" ng-model="vm.role.nama" name="name" class="form-control" required ng-blur="delValidation($event)" />
					<div class="input-error" ng-show="(vm.submitted && formRole.name.$invalid)">
						<p ng-show="formRole.name.$error.required" translate="template.error.field_kosong"></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label required">	<span translate="promise.procurement.master.role.list.kode"></span>
				</label>
				<div class="col-sm-4">
					<input id="input-id-2" type="text" name="code" ng-model="vm.role.code" class="form-control" maxlength="120" required ng-blur="delValidation($event)" />
					<div class="input-error" ng-show="(vm.submitted && formRole.code.$invalid)">
						<p ng-show="formRole.code.$error.required" translate="template.error.field_kosong"></p>
						<p ng-show="!formRole.code.$error.required && formRole.code.$error.code" translate="promise.procurement.master.role.error.kode_sama"></p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label required">	<span translate="promise.procurement.master.role.list.aplikasi"></span>
				</label>
				<div class="col-sm-4">
					<div class="radio-inline c-radio">
						<label>
							<input id="inlineradio10" type="radio" name="appCode" ng-model="vm.role.appCode" value="PM" required ng-blur="delValidation($event)" />PM <span class="fa fa-circle"></span>
						</label>
						<label>
							<input id="inlineradio10" type="radio" name="appCode" ng-model="vm.role.appCode" value="CM" required ng-blur="delValidation($event)" />CM <span class="fa fa-circle"></span>
						</label>
						<br/>
						<div class="input-error" ng-show="(vm.submitted && formRole.appCode.$invalid)">
							<p ng-show="formRole.appCode.$error.required" translate="template.error.field_kosong"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label required">	<span translate="promise.procurement.master.role.list.dashboard"></span>
				</label>
				<div class="col-sm-4">
					<div ng-class="(vm.submitted && formRole.dashboard.$invalid) ? 'border-error' : ! formRole.dashboard.$invalid ? '' : 'border-success'">
						<ui-select ng-model="vm.role.dashboard" theme="bootstrap" name="dashboard" required ng-blur="delValidation($event)">
							<ui-select-match placeholder="++ Pilih Tampilan Dashboard ++">{{$select.selected.nama}}</ui-select-match>
							<ui-select-choices repeat="data in vm.dashboardList | filter: $select.search">
								<div ng-bind-html="data.nama | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="input-error" ng-show="(vm.submitted && formRole.dashboard.$invalid)">
						<p ng-show="formRole.dashboard.$error.required" translate="template.error.field_kosong"></p>
					</div>
				</div>
			</div>
			<br/>
			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type="button" ripple="" class="btn btn-secondary" ng-click="back()">	<span translate="template.button.kembali"></span>
					</button>
					<button type="button" ripple="" class="btn btn-primary" ng-click="save(formRole.$valid)">	<span translate="template.button.simpan"></span>
					</button>
					<br />
				</div>
			</div>
		</form>
	</div>
</div>