<div class="app-view-header">
    <span translate="">Detil Pengumuman Evaluasi Administrasi & Teknis</span>
</div>
<div ng-controller="PengumumanEvaluasiAdminTeknisDetilController">
    <div class="panel panel-primary">
        <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-archive">&nbsp;</em>
            <span translate="">Data Pengadaan</span>
        </h4>
        <div class="panel-body">
            <div align="center" ng-if="loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong>
            </div>
            <div class="table-responsive">
                <table id="table-ext-1" class="table table-bordered table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td style="text-align:left" width="40%"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.NOPENGADAAN">Nomor Pengadaan</span></td>
                            <td style="text-align:left" width="60%">{{pengadaan.nomorNotaDinas}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.NAMAPENGADAAN">Nama Pengadaan</span></td>
                            <td style="text-align:left">{{pengadaan.namaPengadaan}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.JENISPENGADAAN">Jenis Pengadaan</span></td>
                            <td style="text-align:left">{{pengadaan.jenisPengadaan.nama}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.METODEPENGADAAN">Metode Pengadaan</span></td>
                            <td style="text-align:left">{{pengadaan.metodePengadaan.nama}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.SISTEMEVALUASIPENAWARANHARGA"></span></td>
                            <td style="text-align:left">{{pengadaan.sistemEvaluasiPenawaran.nama}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.KUALIFIKASIPENYEDIABRGJASA"></span></td>
                            <td style="text-align:left">{{pengadaan.kualifikasiVendor.nama}}</td>
                        </tr>

                        <tr>
                            <td style="text-align:left"><span translate="promise.procurement.panitia.jadwalpengadaan.detil.BIDANGSUBBIDUSAHA"></span></td>
                            <td style="text-align:left">
                                <div align="center" ng-if="loadingSubidang == true"><strong><em>Loading...</em><img src="app/img/loading.gif" width="20px" border="0"/></strong>
                                </div>
                                <div ng-repeat="bd in subBidangUsahaByPengadaanIdList">
                                    <li>{{bd.subBidangUsaha.bidangUsaha.nama}}</li>
                                    <ul class="fa fa-long-arrow-right">
                                        {{bd.subBidangUsaha.nama}}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="panel panel-primary">
        <h4 ng-class="'bg-' + app.theme.name" class="panel-heading"><em class="fa fa-table">&nbsp;</em>
				<span translate="">Data Berita Acara</span>
			</h4>
        <div class="panel-body">
            <table id="table-ext-1" class="table table-bordered table-hover" width="100%">
                <tbody>
                    <tr>
                        <td style="text-align:left" width="40%"><span translate="">No Pengumuman</span></td>
                        <td style="text-align:left" width="60%">
                            <input type="text" class="form-control shadow-z1 input-sm" name="nomor" ng-model="form.nomor" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" width="40%"><span translate="">Tanggal Berita Acara Pengumuman</span></td>
                        <td style="text-align:left" width="60%">
                            <div class="col-md-4">
                                <p class="input-group">
                                    <input type="text" datepicker-popup="{{form.format}}" ng-model="form.tanggalPengumuman" is-open="form.tanggalPengumumanOpened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close" class="form-control shadow-z1 input-sm" />
                                    <span class="input-group-btn">
								<button type="button" ng-click="form.tanggalPengumumanOpen($event)" class="btn btn-default shadow-z1 input-sm " ripple="">
													<em class="fa fa-calendar"></em>
								</button>
								</span>
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>