<div class="app-view-header">
	<span>Purchase Request</span>
</div>
<div class="panel panel-primary"
	ng-controller="BookingOrderIndexController as vm">
	<h4 ng-class="'bg-' + app.theme.name" class="panel-heading">
		<span translate="promise.procurement.master.bookingOrder.subjudul">
	</h4>
	<div class="panel-body">
		<!-- <div class="text-right">
		  <button type="button" id="refresh" class="btn btn-info btn-sm bg-primary"  ng-click="refresh()">
	       	 <em class="fa fa-refresh"></em> Refresh
          </button>			
		</div> -->
		<div class="col-lg-12 p-b b-b m-b">
			<div class="col-md-3">
				<div class="form-group">
					<label class="col-md-12 text-left control-label">Status</label>
					<div class="col-md-12">
						<select name="login" class="form-control"
							ng-model="vm.param.statusBO" ng-change="getListPaging()"
							theme="bootstrap" ng-required="true" required>{{$select.selected.nama}}
							<option value="" selected> ++ Pilih ++</option>
							<option ng-repeat="option in vm.status"
								value="{{option.value}}">{{option.name}}</option>
						</select>
					</div>
				</div>
			</div>
			
			<!-- <div class="col-md-3">
				<div class="form-group">
					<label class="col-md-12 text-left control-label">Search</label>
					<div class="col-md-12">
						<div class="search-icon">
							<input class="form-control" placeholder="Search..." type="text"
								ng-model="vm.param.search" ng-change="bookingOrderList()">
						</div>
					</div>
				</div>
			</div> -->
	
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-12 text-left control-label">Tanggal PR</label>
				<div class="col-md-12">
					<div class="input-group">			
						<input placeholder="Start" type="text" datepicker-popup="dd/MM/yyyy"
							max-date="endDate" ng-model="vm.param.startDate"
							is-open="tanggalStartStatus" ng-change="getListPaging()"
							class="form-control" show-button-bar="true"
							readonly="true" required /> 
						<span class="input-group-btn">
							<button type="button" ng-click="tanggalStartOpen($event)" class="btn btn-default" ripple="">
								<em class="fa fa-calendar"></em>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-12 text-left control-label"></label>	
				<div class="col-md-12">
					<div class="input-group">
						<input placeholder="End" min-date="startDate" type="text"
							datepicker-popup="dd/MM/yyyy" ng-change="getListPaging()"
							ng-model="vm.param.endDate" is-open="tanggalEndStatus"
							class="form-control" show-button-bar="true"
							readonly="true" required /> 
						<span class="input-group-btn">
							<button type="button" ng-click="tanggalEndOpen($event)" class="btn btn-default" ripple="">
								<em class="fa fa-calendar"></em>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-12 text-left control-label"></label>	
				<div class="col-md-12">
					<div class="text-right">
				  		<button type="button" id="refresh" class="btn btn-success" title="Refresh" ng-click="refresh()">
			       	 		<em class="fa fa-refresh"></em>
		          		</button>			
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-md-12 table-responsive">
		<div align="center" ng-if="vm.loading == true">
			<strong><em>Loading...</em><img src="app/img/loading.gif" border="0"
				width="20px" /></strong>
		</div>
		<div class="col-md-12">
			<div class="text-center" ng-if="vm.loading == true"><strong><em>Loading...</em><img src="app/img/loading.gif" border="0" width="20px"/></strong></div>
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover" ></table>
        </div>
			
		</div>
		<div class="page-option col-md-2">
			<span class="page-opt-text">Show :</span> <a class="page-opt-num"
				ng-click="pageChanged(5)">5</a> <a class="page-opt-num"
				ng-click="pageChanged(10)">10</a> <a class="page-opt-num"
				ng-click="pageChanged(25)">25</a>
		</div>
		<div class="text-right">
			<pagination first-text="<<" previous-text="<" next-text=">"
				last-text=">>" items-per-page="vm.param.pageSize"
				total-items="vm.totalItems" ng-model="vm.param.pageNo"
				max-size="vm.param.pageSize" boundary-links="true"
				class="pagination-sm" ng-click="setPage()"></pagination>
		</div>
	</div>
</div>
</div>

